[2020-04-05 00:58] youben11 opened #10 "Provide SEAL API"
### Context
The goal of TenSEAL isn't to wrap SEAL and make it available to use in Python but as we have everything setup to make a full port of it to Python (making every cpp object and API call available through python), I think that it would be nice to make a tenseal.seal_api submodule that do this.

### TODO
- Bind all SEAL objects (providing access to all their methods and public attributes),

[2020-04-05 09:42] youben11 opened #11 "Automate build-push to PyPI"
As TenSEAL includes a binary extension, it needs some extra attention on the build process to support different platforms, but the ideal would be to have this process automated on release, so whenever a new version comes in, it gets built and pushed to [PyPI](https://pypi.org/).

### Some resources

- https://github.com/pypa/manylinux
- https://packaging.python.org/tutorials/packaging-projects/
-

[2020-04-09 21:05] iamtrask opened #17 "Build failure"
I ran the instructions in the README.md to install.

[code]

and got the following error.

[code]

I'm on OSX Catalina, Python 3.7.6

[2020-04-09 21:18] youben11 commented on #17
@iamtrask  did you install CMake? seems like it couldn't find it.

[2020-04-10 13:31] karlhigley commented on #11
[`scikit-build`](https://scikit-build.readthedocs.io/en/latest/) looks promising, since it wraps CMake and setuptools, which the project is already using.

[2020-04-10 15:12] youben11 commented on #17
You will also need to have Xcode installed.

[2020-04-15 21:58] vivoutlaw opened #19 "SyFT -- TenSeal troubles"
Hi, nice work!

I came across your tutorial of HE usage via syft. [https://blog.openmined.org/ckks-homomorphic-encryption-pytorch-pysyft-seal/](https://blog.openmined.org/ckks-homomorphic-encryption-pytorch-pysyft-seal/)

Can you please let me know, how can I import this "import syft.frameworks.tenseal as ts" as tenseal seems to unavailable in syft.frameworks? Thanks

best, Vivek

[2020-04-15 22:08] youben11 commented on #19
Hi Vivek ! Thanks for trying the demo. The branch the demo is working on isn't the master, and we expect to merge it soon so that you can try it directly on master.

And keep in mind that importing syft.frameworks.tenseal isn't the same as importing tenseal, it is integrated into PySyft in a different way to adapt it to the framework.

[2020-04-15 22:15] vivoutlaw commented on #19
Yep, please let me know when you release the merge. Thanks again!

Btw, just found out that. If you try to encrypt a vector for more than 4100 elements.  Tenseal throws RuntimeError: values_matrix size is too large

import tenseal as ts
import numpy as np
context = ts.context(ts.SCHEME_TYPE.BFV, poly_modulus_degree=4096, plain_modulus=1032193)
plain_vector = np.arange(4100)
encrypted_vector = ts.b

[2020-04-21 09:32] youben11 commented on #19
Yeah, so we now use a single ciphertext for batching vector elements, which means that you can store up to poly_modulus_degree elements in BFV and up to the half of poly_modulus_degree for CKKS. This will hopefully improve in the near future as we are still experimenting which structure for tensors works best.

You can keep an eye on OpenMined/PySyft#3321 which will merge the CKKSTensor on master.

[2020-04-22 08:00] bcebere opened #20 "FHE operations on CUDA"
Hello,

Just wondering, have you considered using a FHE library with CUDA support? Could they bring some benefits?

Some examples are
https://github.com/vernamlab/cuFHE
and
https://github.com/nucypher/nufhe

[2020-04-22 08:16] youben11 commented on #20
Hi @bcebere , those two library you mentioned are implementing the TFHE scheme which support homomorphic boolean gates, I don't know of any (good) library implementing CKKS with CUDA support, let me know if there is. But it might be interesting to explore implementing boolean vectors with these two libraries if we can think of a use-case for them.

[2020-04-22 12:36] iamtrask commented on #20
Note - the (under development) port of FV to PyTorch will run on CUDA.

[2020-04-22 14:04] bcebere commented on #10
I would like to work on this, if it not already assigned/resolved.

[2020-04-22 15:07] youben11 commented on #10
Thanks @bcebere ! PM me on slack if you need further details

[2020-04-25 20:31] #17 closed

[2020-05-04 16:55] youben11 opened #35 "Relinearization [and Rescaling]"
After every multiplication for CKKS and BFV, we need to relinearize our ciphertext, CKKS also need rescaling (as the scale becomes Delta**2). We need to have these operations done automatically by default after every multiplication, with the ability to choose to not do so.

[2020-05-06 12:56] #10 closed

[2020-05-08 21:09] youben11 opened #36 "Should we disable SEAL_THROW_ON_TRANSPARENT_CIPHERTEXT?"
Default build of SEAL enforce SEAL_THROW_ON_TRANSPARENT_CIPHERTEXT to on which will throw an error whenever the result ciphertext of an evaluation is transparent.

Current implementation workaround issues regarding transparent ciphertexts in vector operations #33. An open question is whether we should disable it completely? Does our use cases get affected?

[2020-05-09 01:03] youben11 opened #38 "Holds the scale in TenSEALContext"
This issue is mainly related to the use of the CKKS scheme

### Motivation

1. API would be simpler if the user provides the `scale` once at context creation, this wasn't the case because we thought that the user would need to choose the scale for each tensor.
1. In a secure computation which is controlled by a single TenSEALContext, we will generally wants to have the same scale for all our ciphe

[2020-05-09 01:12] #19 closed

[2020-05-09 01:17] youben11 commented on #11
Current build for MacOS only supports the latest version (Catalina), that's the only available environment on github actions. Karl suggested to look at [Travis](https://docs.travis-ci.com/user/reference/osx/#macos-version) as it might support older versions.

[2020-05-09 02:06] s0l0ist commented on #38
This is a good start to the right idea, but I also feel it would add an effort so ensure this doesn’t break in future versions of SEAL implementation or even this library.

I would propose a separate helper tool to help define the appropriate encryption parameters and scale based off of the desired algorithmic depth.  This could be thought of as the equivalent to the`CoeffModulus::BFVDefault` func

[2020-05-09 05:10] philomath213 commented on #38
Good idea to simplify the API.
But since the scale is related to CKKS tensor, why don't we make it a CKKS tensor attribute, and generate or set it during tensor creation?

[2020-05-09 10:12] youben11 commented on #38
In TenSEAL, we assume that the user doesn't have enough experience in HE to deal with relin and rescaling, it would certainly be difficult on our side to deal with all these details while assuming general usage, but I think motivation(2) is a good assumption that simplify this solution. And of course we will need to give experienced user the ability to use different scale, for instance, users can

[2020-05-09 10:15] youben11 commented on #38
Mainly because of motivation(2), we don't need to set the scale for every tensor, all tensors should be having the same scale. The scale isn't a big field, using it in the TenSEALContext for CKKS and wasting that space for BFV isn't a big deal.

[2020-05-09 13:37] bcebere opened #39 "SEAL bindings should be optional"
We should add a flag for disabling/enabling SEALAPI full bindings from the build.

[2020-05-09 13:38] #20 closed

[2020-05-09 13:44] s0l0ist commented on #38
Okay, if you're already building a lot of helper logic then this makes sense to encapsulate as long as it is overridable.

[2020-05-09 13:56] bcebere commented on #36
Wouldn't be a better solution to:
 - add a try/catch block when multiplying with a plaintext.
 - in case of a logic_error, just replace the ciphertext with the output from encrypt_zero.
?

just wondering.
Maybe they enforce it for a good reason.

[2020-05-09 14:23] youben11 commented on #36
They mainly enforce it because the output ciphertext is clearly encrypting 0, you won't need the secret key to know that. @LaRiffle recently suggested that we disable this completely as it will be equivalent for doing MPC with additive sharing and multiplying shares with zero. Here both the party doing the computation and the secret key holder can know that the result is an encrypted zero, the thr

[2020-05-10 06:49] youben11 opened #43 "Make encoders part of TenSEALContext"
### Context

Current implementation instantiate an encoder whenever needed which might incur some extra overhead, and reserving space for all the 3 different kind of encoders is non-efficient.

### Possible solution

Keep 3 pointers to all kind of encoders in `TenSEALContext` (`[Integer|Batch]Encoder` for BFV and `CKKSEncoder` for CKKS) and have a method `get_encoder` that when asked for a specifi

[2020-05-10 07:10] bcebere commented on #36
I can work on this, if it's not already assigned.

I will disable  SEAL_THROW_ON_TRANSPARENT_CIPHERTEXT from cmake opts.

[2020-05-10 07:10] bcebere commented on #43
I can work on this, if it's not already assigned.

[2020-05-10 07:22] youben11 commented on #36
Still not sure what's the best way to go ...

[2020-05-10 16:42] philomath213 opened #44 "Tests to verify the size of the ciphertext after the ct-ct multiplication"
As @bcebere mentioned in #42, it would be nice to add some tests that verify the size of the ciphertext after the ct-ct multiplication.

###  Issue
Since Ciphertext is a private attribute for CKKS and BFV vectors and there's no python binding for that, we can't use python test in this case.

[2020-05-11 07:06] bcebere commented on #44
imo, some approaches can be:

1. Add a separated library to the CMake, with extra bindings, that exposes more information and it is used only for the tests. It doesn't get published. One extra information is exposing ciphertext data. The downside is that you don't get to test the actual delivered binary.

2. Add a new parameter to the TensealContext, denoting a settings json/yaml, for pushing cust

[2020-05-11 18:13] #43 closed

[2020-05-11 18:23] youben11 opened #46 "Throw error when encrypting empty vectors"
Current implementation allows for encrypting an empty vector, which actually doesn't make sense. We should block the user when trying to do so.

[2020-05-12 03:57] youben11 opened #48 "Drop BFVNaiveVector"
This type of vector was first created mainly for experimentation, I don't think he provide any useful feature that other vectors doesn't provide, he is actually really inefficient and it would be just more work supporting it via adding new features and testing.

I think we should drop it completely.

[2020-05-12 04:04] youben11 opened #49 "Configure TenSEAL to auto relin/rescale"
### Context

We want to both make relinearization/rescaling transparent to the user and offer experienced users flexibility to implement their ideas.

### Possible solution

A good place to configure this would be the TenSEALContext object where you can for example call `context.[enable|disable]_auto_[relin|rescale]()` to turn on/off relin/rescaling.

See also #35

[2020-05-12 08:21] bcebere opened #50 "TenSEALEncoder improvements"
We can further improve the encoder interface by:

- providing encode/decode templates to the contexts.
- simplifying the tensor/context logic by forwarding the encode/decode calls directly to the Encoder factory.(instead of getting an encoder object first)

[2020-05-12 08:27] bcebere opened #51 "CFLAGS improvements"
Tensors should not include headers using a relative path, this can lead to compile issues.

We should update the include paths to prevent this.

[2020-05-12 09:43] bcebere commented on #44
Or we could add gmock and gtest as dependecies and test the C++ part directly.

I can work on that.

[2020-05-12 12:45] bcebere opened #52 "Global Interpreter Lock review"
Right now, for all the bindings, we always hold the Global Interpreter Lock(GIL)
https://pybind11.readthedocs.io/en/stable/advanced/misc.html#gil

This prevents our code from being run from multiple Python threads.
We should investigate which bindings are working safe without the lock, adding py::call_guard<pybind11::gil_scoped_release>() to them.

[2020-05-12 19:55] philomath213 commented on #48
Yes, I agree with you.
I will take care of that.

[2020-05-12 20:50] #48 closed

[2020-05-14 20:02] dhuynh95 opened #58 "Provide a SEAL API binding to set scale manually after a multiplication"
# Context

Currently after a multiplication has been done, there is no way to set the scale manually to allow further computation such as addition with a plaintext.

Example :
[code]

# Proposed solution

I think a simple binding such as ctx.scale(scale) or ctx.set_scale(scale) would be enough to solve this problem.

[2020-05-15 05:32] bcebere commented on #58
Fixed with https://github.com/OpenMined/TenSEAL/pull/59

Added a `scale` property to Plaintext/Ciphertext classes, now you can do something like

`output.scale = ptx.scale`

[2020-05-15 05:32] #58 closed

[2020-05-15 19:56] #11 closed

[2020-05-16 20:18] #38 closed

[2020-05-16 20:18] #49 closed

[2020-05-17 07:28] #51 closed

[2020-05-17 19:49] #50 closed

[2020-05-17 22:44] youben11 opened #68 "Calling matmul on a medium sized matrix throws an std::bad_alloc exception"
**Describe the bug**
CKKSVector::matmul_plain seems to be consuming memory linear in the size of the input, a small input matrix works fine, but as we use larger matrices, matmul throw an std::bad_alloc exception.

**To Reproduce**
Script to reproduce: you can increase the size if the exception isn't thrown

[code]

**Expected behavior**
The operation should return the result of the vector-matrix

[2020-05-19 18:03] cereallarceny opened #70 "Create a better Readme"
[Based on this readme template](https://github.com/OpenMined/.github/blob/master/README-TEMPLATE.md), we should improve our readmes across all OpenMined projects.

[Please consult the following document for our desired best practices.](https://docs.google.com/document/d/126smq1Gful_mo-x5Wm1M1UJW9CvB8fT9YYZmamNqk0M/edit?usp=sharing)

[2020-05-25 05:23] zhangbo2008 commented on #68
?how tosolve?

[2020-05-25 16:25] youben11 commented on #68
Thanks @zhangbo2008, It was fixed in the linked PR

[2020-06-01 09:21] DreamingRaven opened #72 "Serialise, deserialise; for pickle, deepcopy"
## Feature Description
I feel it would be vital to be able to deep-copy objects like context, private key, and ciphertext.
Similarly It will also be vital to real use to be able to pickle, and unpickle, context, private key, and ciphertext, or at the least save to a file-like object, but not necessarily a file itself.

## Is your feature request related to a problem?
I would like to save directly

[2020-06-01 09:36] youben11 commented on #72
We also believe that this is a vital feature to have, we aim at providing serialization ASAP, but this requires planning a serialization strategy and a discussion around different possibilities like the ones you mentioned above, which is something that we can't start in the following days, but definitely an upcoming feature.

[2020-06-01 10:19] DreamingRaven commented on #72
Cheers, thanks for the lightning quick response.
Glad to hear it was already on your minds, im trying to forward FHE even if only slightly in whatever way I can with my limited pybind know-how. Let me know if there is a good way to further this, as I have seen multiple projects battling this very issue, especially with seals (I believe 3.4.5+) changes to serialization.

[2020-06-01 11:57] youben11 commented on #72
Our serialization would extend SEAL's serialization but we should also setup a strategy for our TenSEALContext as it can contain different object at a certain time, other more simple objects like CKKSVector are pretty straightforward. I haven't digged into the details but I guess there is an issue as well regarding dealing with file-like objects on both python and cpp worlds.

FYI, you can expect

[2020-06-01 12:00] DreamingRaven commented on #72
Thanks @youben11 for letting me know. I will leave this issue open for now/ for anything further relating to this. Cheers.

[2020-06-01 12:01] youben11 commented on #72
Thanks @DreamingRaven for your inputs

[2020-06-05 16:11] #68 closed

[2020-06-16 18:49] Christopher-Wang opened #74 "A aggregation function for an encrypted vector (add_many/multiply_many)"
## Feature Description
A single encrypted TenSEAL vector should be able to be naively aggregated by either a sum or product.

## Is your feature request related to a problem?
This would be especially useful for common operations such as dot product and euclidean distance.

## What alternatives have you considered?
Currently the only known method I understand might for summation work is to perform

[2020-06-16 18:55] youben11 commented on #74
Hi @Christopher-Wang and thanks for your input!

I just want to clarify your feature request, so by `encrypted_vec.add_many()` do you mean summing up the slots of the vector? like if you have a vector encrypting the vector `[1, 2, 3]`, this method will result in a vector encrypted a single value (`[6]`), is that right?

[2020-06-16 18:58] Christopher-Wang commented on #74
Yes. Similar to the Evaluator::multiply_many and Evaluator::add_many definitions in the SEAK 2.0 documentation. I also check and currently there is no way to encrypt a matrix therefore the matmul workaround is impossible.

[2020-06-16 19:07] youben11 commented on #74
`Evaluator::multiply_many` and `Evaluator::add_many` actually do the operations on *many* ciphertexts in an element-wise fashion, and not on the slots of the same ciphertext.

If what you meant is the feature I described in my last comment, it shouldn't be a big deal to implement, it just wasn't a priority, but since there is a need for that, I can take a look at it and ping you when a PR is ready

[2020-06-16 19:29] Christopher-Wang commented on #74
Perfect thanks! I appreciate it

[2020-06-16 20:16] tcp opened #75 "Add support Slack channel links to main readme file"
## Where?
Main readme

## Who?
All contributors

## What?
Users of this library should have a good idea of where to get support within Slack so that the general channel does not become a place for people dropping software implementation problems. Please add the following section somewhere in your readme:

[code]

When finished, it should look exactly as it does here: https://github.com/OpenMined/.

[2020-06-18 06:34] bcebere opened #78 "CKKS multiplication crashes with "scale out of bounds""
## Description
Testcase fails with
[code]

## How to Reproduce
https://github.com/OpenMined/TenSEAL/blob/gtest/tests/cpp/tensors/ckksvector_test.cpp#L98

[2020-06-18 06:37] bcebere opened #79 "BFVVector crashes after enabling auto_relin"
## Description
Reproducing with https://github.com/OpenMined/TenSEAL/blob/gtest/tests/cpp/tensors/bfvvector_test.cpp#L72

[2020-06-18 06:40] dhuynh95 commented on #78
I think you did too many multiplications. You set {60, 40, 40, 60} for the primes used in the moduli, therefore you can do only 2 multiplications while you asked to do 5.

[2020-06-19 05:41] #74 closed

[2020-07-02 07:34] #79 closed

[2020-07-02 07:49] #44 closed

[2020-07-02 09:12] apignet commented on #78
Hi.
This issue is closed, but I have the same problems. How did you solved it ?

I am trying to evaluate a polynomial expression of a dot product.

 The SEAL documentation explains that I missed a relinearization or a rescale step, but I thought both operations are done automatically using tenseal ?

context = ts.context(ts.SCHEME_TYPE.CKKS, 8192, coeff_mod_bit_sizes=[60, 40, 40, 60])
context.glob

[2020-07-02 10:14] bcebere commented on #78
Sorry, my bad, my understanding was that I was testing it wrong. I'll leave it open.

[2020-07-02 13:40] youben11 commented on #78
Hi @apignet, you are trying to perform 3 multiplications in a chain when your parameters are set to support two multiplications only. You will need to increase the parameters while creating the context in `context = ts.context(ts.SCHEME_TYPE.CKKS, 8192, coeff_mod_bit_sizes=[60, 40, 40, 60])` in order to support 3 multiplications.

[2020-07-02 13:40] #78 closed

[2020-07-02 14:33] apignet commented on #78
Reading SEAL example and this issue `[64](ehttps://github.com/microsoft/SEAL/issues/64 )`, I understood that the relinearization/rescaling operations transform a cipertext of level l in a ciphertext of level l-1. Therefore, with auto-relin and auto-rescale, I did not understand why I am not able to support more than 2 multiplications.

[2020-07-02 14:44] youben11 commented on #78
The auto_|relin|rescale] features of TenSEAL allow users to focus on the computation without the need to do the relinearization/rescaling, but those operations are still done by TenSEAL. A new ciphertext has some coefficient modulus q and every time a multiplication is done and we perform a rescaling, the modulus goes down, until it reaches some value that can no longer holds the coefficient with

[2020-07-02 14:51] apignet commented on #78
okay thank you @youben11
I am going to look further on this choice of parameters

[2020-07-03 11:10] #75 closed

[2020-07-03 14:20] apignet opened #82 "Wrong result when performing dot product with CKKS scheme"
Hi. I am new to TenSEAL, and I have some trouble performing dot product.
I am trying to make a dot product between two encrypted vectors, and the decrypted result is far away from the result expected. However, I am able to perform 9 multiplications and additions with my context parameters.

Am I doing something wrong ?

I built TenSEAL from source the 4th July

## How to Repro
import tenseal as ts

[2020-07-03 14:34] youben11 commented on #82
I guess it's yielding the correct result, you just need to replace your line `encrypted_dot = encrypted_vector.dot(encrypted_vector)` with `encrypted_dot = encrypted_vector.dot(encrypted_vector2)` as you were doing the dot product against itself instead of the second vector.

[2020-07-03 14:54] apignet commented on #82
Hm I am a little embarrased
I am really sorry to have wasted your time
Thanks for your quick answer

[2020-07-03 14:54] #82 closed

[2020-07-03 15:00] youben11 commented on #82
No worries @apignet :), you are also welcome to join the #lib_tenseal channel in our [Slack Community](https://slack.openmined.org) for quick discussions.

[2020-07-05 09:00] youben11 opened #83 "Cpp library for TenSEAL"
## What?
Provide a Cpp library for TenSEAL.

## Why?

As TenSEAL is mainly engineered to work with python, the Cpp API doesn't look really great for Cpp devs, we can rework it so that it can also be used as a Cpp library, while making sure to keep the python compatibility, the python API should always comes first, but it would be great if we can find a middle ground for both of them.

## Breakdown

[2020-07-06 13:00] youben11 opened #88 "Automate tests on MacOS and Windows"
## Feature Description
We need to test on all platforms (Linux, MacOS, Windows) on every PR.

## Is your feature request related to a problem?
The build on MacOS and Windows was only ran on release, which made us spot problems on release time, instead of catching them early on every codebase change.

[2020-07-06 20:24] youben11 opened #91 "Optimizing use of immutable vectors"
## Description
As pointed out by @bcebere in #86 , we are passing some immutable vector by values instead of const reference which can be more efficient.

[2020-07-10 13:48] youben11 opened #95 "Polynomial evaluation for CKKSVector"
## Feature Description
Add a method for evaluating univariate polynomials where the variable is a CKKSVector. The method should meet the following criteria:
- Use square and multiply for exponentiation for both efficiency and minimizing the multiplicative depth
- The method should receive a list of coefficients of variable size (n+1), with the first being the constant term, and the last being the

[2020-07-11 14:55] youben11 commented on #36
I think we will go with this one, and we should replace with encrypt_zero when appropriate, any final thoughts on this @bcebere ?

ping @philomath213

[2020-07-11 15:26] bcebere commented on #36
Sounds good to me!

[2020-07-11 16:24] #91 closed

[2020-07-11 19:33] philomath213 commented on #36
Yeah, I think this the most convenient solution.

[2020-07-12 12:46] #36 closed

[2020-07-13 15:47] #95 closed

[2020-07-14 11:10] bcebere commented on #72
I will work on this one

[2020-07-14 13:50] DreamingRaven commented on #72
While hacky I have created pseudo serialisation and deserialisation here primarily for CKKS:

https://github.com/DreamingRaven/python-reseal/blob/39f6b250d18d62cbff1b185a10d52f12eac316e9/fhe/reseal.py#L24-L77

and I use them in a meta object here: https://github.com/DreamingRaven/python-reseal/blob/39f6b250d18d62cbff1b185a10d52f12eac316e9/fhe/reseal.py#L173-L232

this allows me to do everything I

[2020-07-14 13:51] DreamingRaven commented on #72
The key thing I have found from doing this is that we don't need to make everything serialisable, only the primitives, parameters, ciphertext and keys. The rest can be regenerated on the fly as you can see in the above mentioned meta object ReSeal

[2020-07-18 06:41] youben11 commented on #72
@DreamingRaven Bogdan just made TenSEAL context serializable using pickle. Whenever we add the feature for serializing CKKSVector then we will be able to implement client/server apps!

Please let us know how you feel about it :)

[2020-07-18 09:17] DreamingRaven commented on #72
@youben11  thanks for letting me know.  I will give context serialization when I get back to my desk and let you know if there are any issues..

Hopefully this can replace my existing workaround in my research, which would be amazing.

I don't think its going to be very long before we start seeing FHE more and more in the field to start tackling very sensitive mostly untouched data. Its just a sha

[2020-07-18 10:43] youben11 commented on #72
Indeed bootstrapping can let us compute circuits of arbitrary depth, however, its computation cost is still impractical as far as I know. Many research have been focusing on the use of Leveled-HE with optimized circuits and batching for implementing practical use cases.

Looking forward for your feedback on serialization!

[2020-07-19 10:58] bcebere opened #106 "Add Bazel support"
## Feature Description
Bazel support would have numerous advantages in TenSEAL's build system.

## Pros
 - We would be extending the cmake build system, not replacing it.
 - Well-established ML tools like PyTorch or Tensorflow support Bazel too, and it would make the integration seamless there.
 - The integration with SEAL would be easy, no submodule required, as in this example. Bazel has binding

[2020-07-20 10:20] linjinchang opened #107 "About the saving and loading of tenseal data and keys."
I use tenseal directly
context = ts.context(ts.SCHEME_TYPE.CKKS, 8192, coeff_mod_bit_sizes=[60, 40, 40, 60])
ckks_vec = ts.ckks_vector(context, plain_vec, scale)
Q：How to save and load the secret_key、public_key、relin_keys and the ckks_vec in the context to a local file?

[2020-07-20 10:34] bcebere commented on #107
Hello.

For the context, you can use

[code]

[2020-07-20 11:03] youben11 commented on #107
Adding to what Bogdan explained, saving a context will also save the keys, so if you hadn't dropped the secret-key in your context, restoring the context from the buffer should also restore the secret-key

[2020-07-20 17:03] ramesht007 commented on #88
Hey, @youben11 can I work on this issue

[2020-07-20 17:06] youben11 commented on #88
Hi @ramesht007! Thank you! Feel free to DM me on slack if you need further information :)

[2020-07-22 08:08] #107 closed

[2020-07-22 21:05] DreamingRaven commented on #72
Hey apologies for the delay. I tried out the same test file from my initial post to see if the context was now serialisable and deserialisable in python. However I have been having some issues with this:

I still get:
[code]
im not sure if I have missed something with this, I will need to take a closer look to find out why. I am running from inside the latest openmined/tenseal docker container, I

[2020-07-22 21:18] youben11 commented on #72
latest seems to be attached to the last release which doesn't have the serialization feature, we will look further why it's the case. By the mean time, you can use the one with latest-py38 tag, which is up to date with master.

[2020-07-22 21:42] DreamingRaven commented on #72
Hey @youben11 serialisation test (for context) has passed by building from master, so yeah cant see any immediate problems with that.

On a related note, I suspect that the documentation and Dockerfiles are from different times, as the documentation says:

[code]
However that last command does not use the -f flag to specify the dockerfile name since they are not named exactly "Dockerfile" and rath

[2020-07-22 21:51] DreamingRaven commented on #72
Actually I may draft a pull request to use a more normal top level Dockerfile, .dockerignore, and docker-compose; to see if you prefer that to the current setup. Although its not a huge issue either way, it just might throw some people who don't necessarily use docker a lot.

[2020-07-22 22:30] philomath213 commented on #72
Thank you @DreamingRaven for your notes, as @youben11 said, the `latest` tag is attached to the latest release (v0.1.0) with python 3.8.
If you want to use the image that is attached to the master branch you can use `latest-py38` tag.
Regarding the documentation on building docker image, it's kinda outdated, the instruction should be:
`docker image build --tag tenseal -f docker-images/Dockerfile-p

[2020-07-22 22:33] DreamingRaven commented on #72
Hey @philomath213 I created a minor PR https://github.com/OpenMined/TenSEAL/pull/111 just to patch the documentation, to use the new command similar to the one you listed. I also took the liberty of adding a .dockerignore for good practice.

[2020-07-22 22:48] DreamingRaven commented on #72
Let me know when there is any progress on serialization of keys and ciphertext, I will create a unittest PR at some point too, to test this functionality. And thanks for progressing this guys.

[2020-07-23 05:27] youben11 commented on #72
Thank you @DreamingRaven ! The PR #109 is under review and should be merged in the following days.

[2020-07-23 12:05] bcebere opened #112 "Review context comparisons"
## Description
We need to define and add the relevant checks for the
```bool TenSEALContext::equals(const std::shared_ptr<TenSEALContext>& other)```
method.

Some existing checks:
 - same scale
 - ....

[2020-07-23 19:20] #72 closed

[2020-07-25 15:02] IanQS commented on #83
@youben11 Mind if I try and take this on? I'm not sure how quickly I'll be able to knock this out but given how it is low priority I think it would not matter too much?

[2020-07-25 15:56] youben11 commented on #83
Cool @IanQS , however, this is a special one, as we want to first draw a strategy on how to proceed. The strategy might include API changes, compatibility with other language (as we may want to expand bindings of TenSEAL to more than Python).

And since it would refactor much of the codebase, I think this issue should take all the time it needs for planning, but executed fast to not block other PR

[2020-07-27 06:06] youben11 opened #118 "Implement Thread Pool"
## Description
As suggested by @bcebere in #115 , parallel computation using threads shouldn't create them from scratch every time, but instead should assign jobs to a pool of available threads.

We need to add a thread pool system in tenseal/utils as well as integrate it in the vector-matrix multiplication operation.

[2020-07-27 10:13] bcebere commented on #106
I'll work on this one.

[2020-07-27 11:17] bcebere commented on #118
I can work on this one

[2020-07-28 06:59] bcebere opened #120 "Bazel tests with Windows support"
## Description
Bazel is compatbile with Windows, but the workflows fail on that platform.

There are several issues to fix:
 - SEAL build: we should be able to compile SEAL with something like this https://github.com/OpenMined/TenSEAL/blob/bazel/third_party/seal.BUILD#L31 but CMAKE isn''t able to use that generator for some reason. We might need to write a Bazel rule over msbuild.
 - Bazel needs s

[2020-07-28 09:25] #106 closed

[2020-07-28 15:38] Christopher-Wang opened #122 "Rotate Vector through tensor API"
## Feature Description
It would be nice to expose the rotate vector function through the tensor API. This would provide users with a more intuitive method of rotating vectors as opposed to having to do so through the sealapi evaluator object.

## Is your feature request related to a problem?
This feature would make it easier to test out algorithms that require rotations to function (such has effic

[2020-07-28 15:44] youben11 commented on #122
Hi @Christopher-Wang , if you already have the changes locally, please open a PR for review directly, otherwise, we should be able to provide this feature in a few days.

[2020-07-30 14:56] #118 closed

[2020-08-01 07:30] IanQS commented on #46
Would you prefer an exception from within C++ or within Python?

[2020-08-01 07:35] youben11 commented on #46
C++ please :). All the library features should be implemented in C++, Python is just a binding and can have specific features that only apply for it

[2020-08-01 17:42] IanQS opened #125 "CmakeFile for SEAL and pybind11"
## Description

When loading TenSEAL into Clion, I receive the following error when trying to specify the CmakeLists.txt. Specifically

[code]

## Are you interested in working on this improvement yourself?
- No, I am not (I'd love to but I don't have the prerequisite knowledge

## Additional Context
Add any other context or screenshots.

[2020-08-01 18:00] youben11 commented on #125
Hey @IanQS , have you fetched the third party libraries?

You can do that by running
[code]

[2020-08-01 18:08] IanQS commented on #125
Ahh, sorry, that's really embarrassing. I didn't do that because I assumed that those were only necessary for building from source. I'll close this out now :) Perhaps this is unorthodox but maybe there should be a section about contributing to the library so that newbies like me don't mess up and keep opening issues?

[2020-08-01 18:10] youben11 commented on #125
No worries about it :) but you are right, we should definitely have a Contributing guide, will make it right now.

[2020-08-01 18:22] #125 closed

[2020-08-03 15:46] #46 closed

[2020-08-04 15:20] youben11 opened #130 "Parameter what's stored while serializing the context"
## Description
API for serialization can use some parametrization. Some examples based on a client/server use case need to save the context without secret-key, galois-keys ...

[code]

This will not save the secret key even if the context holds it, without removing the secret key from the ctx object. Without such API, someone will need to first remove the secret-key by calling `.make_context_publi

[2020-08-04 17:55] youben11 opened #131 "Need a way to check if a key is available"
## Description
If someone needs to check if galois_keys are present in a context, he will need to do that in a try except since accessing that attribute will throw an error if the keys doesn't exist. We need a flexible way to check a boolean or something to know if a key is available )

## Additional Context

Here is how the error looks in the interpreter, where ctx is a TenSEALContext

[code]

[2020-08-04 20:21] IanQS commented on #131
C++, right? I can take this on

[2020-08-04 20:28] youben11 commented on #131
Thanks :)

[2020-08-04 22:18] IanQS commented on #131
This is a public-facing function, correct? The user would conceivably do something like

[code]

?

Assuming I understand the task correctly this should just amount to

[code]

Within `tensealcontext.cpp`, right? (and the appropriate header, of course)

[2020-08-05 05:39] youben11 commented on #131
Exactly, we may also need another one for relin_keys

[2020-08-05 21:46] #131 closed

[2020-08-05 23:17] IanQS commented on #130
How urgent is this? I'd like to take a stab at it but I'm not sure when I can have this done

[2020-08-06 06:22] youben11 commented on #130
Not really urgent, this require some changes in how protobuff is serializing the context, I think @bcebere can give more details on this.

[2020-08-06 06:37] bcebere commented on #130
If I'm understanding this correctly, sometimes you want to save only the public part of a context anyway, right? Not just when the context is public.
If so, a parameter to the serialize method should do the job, the protobuf logic is already split in public and private protos.

[2020-08-06 06:51] youben11 commented on #130
Not only the secret-key, but the ability to ask for saving or not all the possible keys (galois_keys ...), I had a specific use case where I needed to save without the secret-key, but also didn't want to drop the secret-key from my context, and I expect other users to find it useful to be able to choose what to save, someone might maybe need to save only the public-key, or the public-key and galoi

[2020-08-06 12:27] #88 closed

[2020-08-11 02:22] IanQS commented on #130
Would you say that the specs for this ticket have been fleshed out? If not what else should we nail down before proceeding?

[2020-08-11 07:28] youben11 commented on #130
It can be summarized as giving some optional parameters to the user to save whatever he wants to during context serialization

[2020-08-12 09:06] youben11 opened #136 "Get the max number of slots available"
## Feature Description
In both CKKS and BFV (when using the batchencoder), we can batch many values at a time, up to some extent, we want to provide an API endpoint (e.g. `.max_slots()`) to return this maximum value.

## What alternatives have you considered?
We can also add API endpoints for getting poly_mod_degree which we can infer the number of slots later depending on the scheme used, however

[2020-08-26 10:27] youben11 opened #144 "Tutorial on parameters selection"
## What?
We should add a tutorial explaining how to set the parameters properly to achieve the required computation (maybe even for different level of security)

## Additional Context
A good reference for choosing the right parameters for a certain security level: http://homomorphicencryption.org/wp-content/uploads/2018/11/HomomorphicEncryptionStandardv1.1.pdf

[2020-08-28 14:36] youben11 opened #150 "Segfault when scale out of bounds in parallel matmul"
## Description
There is a segmentation fault if a scale out of bounds error is raised during a parallel vector matrix multiplication

## How to Reproduce
[code]

## Expected Behavior
Only the scale out of bounds exception should be raised

## System Information
 - OS: Linux
 - Python 3.8
 - TenSEAL 0.2.0a1

## Additional Context
Add any other context about the problem here.

[2020-09-04 18:58] IanQS commented on #136
I can try and take this on.

Is this like a packed encoding? Where we do SIMD?

[2020-09-05 08:10] youben11 commented on #136
We want to know the number of slots available if we used packing. We currently use the CKKSEncoder and BatchEncoder in the TenSEALEncoder, which both have a slot_counts method, we only need to bind that to the user so he can get that number.

[2020-09-08 14:59] #150 closed

[2020-09-14 09:54] weiweiWYW opened #152 "When to release a stable version"
Hi, When will the first stable version be released?

[2020-09-17 16:45] youben11 commented on #152
Hi @weiweiWYW
If you mean the 1.0 version with a clear and concise API, we don't have any plan for that right now, as many part of the library are more into research and the API is expected to be changing a lot.

[2020-09-18 09:16] weiweiWYW commented on #152
Thanks, I will use it for some research.

[2020-09-18 09:16] #152 closed

[2020-10-26 19:14] bcebere opened #154 "Review vector copies on operations"
## Description
Operations like add_inplace, sub_inplace, or mul_inplace require to copy of the operand, although we shouldn't modify that object.

The flow should be optimized to reuse the existing object.

[2020-10-30 12:09] #154 closed

[2020-11-05 05:29] Dhairya3124 commented on #136
Is this issue still open?

[2020-11-05 06:35] youben11 commented on #136
Yeah, it is

[2020-11-05 06:47] Dhairya3124 commented on #136
@youben11 Can you assign this to me?

[2020-11-05 06:53] Dhairya3124 commented on #136
@youben11 Thank you ! I'll start working up on this

[2020-11-23 09:53] youben11 opened #159 "CKKSTensor - Batching"
## Feature Description
A tensor of shape (batch_size, height, width, depth) should be stored in an encrypted tensor of shape (height, width, depth) where the batch_size dimension should be batched across ciphertexts. We shouldn't allow the user to customize which axis need to be batched, but we leave the responsibility of reshaping it with the batch_axis as the first dimension to the user.

The AP

[2020-11-23 10:00] youben11 opened #160 "PlainTensor tolist"
## Feature Description
When we are decrypting tensors, we are returning their internal representations, which is just a vector, but the goal would be to return them as a tensor (depending on their shape). This feature is about converting the internal representation into the appropriate tensor, in a nested vector format, so that it will be returned as Python list in the Python interface.

## Additi

[2020-11-23 10:05] youben11 opened #161 "CKKSTensor - add, sub, mul"
## Feature Description
Add element-wise operations (add, sub, mul) to CKKSTensor. These methods should first check the shapes of the operands to check if they are compatible (same shape or one can be broadcasted), then perform the operation depending on their shapes. These methods should have approximately the same code, at the difference of performing different operations (with mul requiring reli

[2020-11-23 10:07] youben11 opened #162 "CKKSTensor negate"
## Feature Description
Implement the negate operation for CKKSTensor. This feature should mainly loop over internal ciphertexts and perform the negate operation

Performing this operation in parallel using the threadpool should be prefered.

[2020-11-23 10:10] youben11 opened #163 "CKKSTensor - square and power"
## Feature Description
Implement the power and square methods for CKKSTensor. Helper functions for performing power and square for ciphertext should already be available, these methods should mainly loop over internal ciphertexts to perform these operations.

Performing these operation in parallel using the threadpool should be prefered.

[2020-11-23 10:14] youben11 opened #164 "CKKSTensor - polynom evaluation"
## Feature Description
Implement the method for performing a polynomial evaluation on CKKSTensor. A helper function for performing polynom evaluation on ciphertext is provided, this feature will mainly loop over internal ciphertexts and use the helper function.

Performing this operation in parallel using the threadpool should be prefered.

[2020-11-23 10:17] youben11 opened #165 "CKKSTensor - sum"
## Feature Description
These feature should take which axis we should sum over. If it's the batch axis, then we should use ciphertext rotations and additions. Otherwise, usual tensor summation should work.

Performing this operation in parallel using the threadpool should be preferred.

[2020-11-23 10:22] youben11 opened #166 "CKKSTensor - save, load and copy"
## Feature Description
These features relates to the ability of CKKSTensor to be serialized using protobuf. There are already example code serializing other tensor types, it can be used a a reference.

[2020-11-26 16:11] bcebere commented on #166
I can start working on this one.

[2020-11-27 07:07] youben11 commented on #161
I will work on this

[2020-11-27 12:56] bcebere commented on #159
I can work on this one

[2020-11-27 14:48] #166 closed

[2020-11-29 11:15] bcebere commented on #165
I can work on this one.

[2020-11-29 16:32] #159 closed

[2020-11-29 16:32] #160 closed

[2020-11-30 18:04] youben11 opened #172 "Move relin, rescale, and mod_switch methods to EncryptedTensor"
## Description
These functions are currently defined in the EncryptedVector class, however, they can be implemented in the EncryptedTensor in order to not replicate them in the CKKSTensor class. This can be done by taking the ciphertext to operate on as parameter instead of fetching it from `this`.

[2020-12-01 09:26] #162 closed

[2020-12-01 09:26] #165 closed

[2020-12-01 09:26] #172 closed

[2020-12-02 06:04] #161 closed

[2020-12-03 15:01] bcebere opened #174 "make_context_public crash"
## Description
The following code results in an infinite loop and a crash.

## How to Reproduce
[code]

Tested with TenSEAL 0.2.0a1

[2020-12-03 20:04] bcebere opened #175 "Link protobuf statically"
## Description
We need to link libprotobuf statically, to prevent versions mismatch.

[2020-12-03 21:58] #163 closed

[2020-12-03 21:58] #164 closed

[2020-12-04 07:39] bcebere opened #176 "Dot product for CKKSTensor"
## Feature Description

We should implement dot product depending on the tensor shape.
 - for 1D arrays.
 - for matrices.
 - for ND arrays(?)

[2020-12-05 12:11] #175 closed

[2020-12-05 13:08] bcebere opened #179 "Reduce docker image size"
## Description
Right now, we build the protobuffers, linked them statically, and we keep the build repo in the final docker image.

We need a multistage build for the release, without any test or build tool/artefact installed.

[2020-12-05 16:09] bcebere opened #182 "Build protobuf from CMake"
## Description
Now we expect to find protobuf already installed.
We should build libprotobuf and protoc from cmake, and use those.

[2020-12-08 07:41] desilo-seungwoojung commented on #182
Hi, I am trying TenSEAL for the first time to use newly introduced CKKSTensor, but I think I am encountering the issue you are describing:

[code]

It seems that libprotobuf 3.6.1 installed via apt is not compiled with -fPIC flag, which is causing linking to fail. If you would like to, I can take a stab at making the change.

[2020-12-08 07:44] bcebere commented on #182
Hi. That sounds great, thank you!

The CMAKE build should reproduce the steps from here for building protobuf https://github.com/OpenMined/TenSEAL/blob/master/.github/workflows/scripts/install_req_ubuntu.sh

Let us know if need anything!

[2020-12-09 16:22] bcebere opened #187 "BFVVector: throw an error when the decryption isn't possible anymore"
## Description
The following snippet should raise an exception. Instead, it is of decrypting the wrong value.

[code]

Output
[code]

[2020-12-14 08:24] Coldfire93 opened #188 "How can I send public key to another client, so it can encrypt its data?"
I have two clients-client A and client B. Client A has both public key and private key. Client A sends public key to client B, so client B can encrypt its data, and send the encrypted data to client A. Client A use the private key to decode the encrypted data from client B.
My question is :
1) How to send the public key to client B? ( I tried to write the public key into a file, but it can not be

[2020-12-14 08:33] youben11 commented on #188
Hi @Coldfire93

1. You can send the context which contain the public key by calling `context.serialize()` which will return bytes. We don't support pickle. Make sure to call `context.make_context_public()` before doing that, in order to drop the secret_key from the context.
2. The tensor constructor methods all use the public key for encryption and you don't need to call encrypt explicitly. The co

[2020-12-14 08:46] Coldfire93 commented on #188
@youben11
Thank you ! 🙏  Your answer is very clear. The only thing I'm confused is the serialize() function. Can you explain it ? Because I can not call it directly.

[2020-12-14 09:03] bcebere commented on #188
Hi @Coldfire93

You can find serialization examples for TenSEAL in the tests folder:
 - [Context serialization examples](https://github.com/OpenMined/TenSEAL/blob/master/tests/python/tenseal/test_serialization.py)
 - [Tensors serialization examples](https://github.com/OpenMined/TenSEAL/blob/master/tests/python/tenseal/tensors/test_serialization.py)

You can see the `serialize` method in actions th

[2020-12-15 03:13] Coldfire93 commented on #188
@bcebere
Thank you for your answer. But I got the error "AttributeError: '_tenseal_cpp.TenSEALContext' object has no attribute 'serialize'" when I call ctx.serialize(). I wonder if the reason that I got the error is that when I import tenseal, I got the error "AttributeError: module '_tenseal_cpp' has no attribute 'im2col_encoding' ".
The position the error produced is in the following code:
tense

[2020-12-15 04:49] bcebere commented on #188
Can you tell us what TenSEAL version do you use and on what platform? Thank you.

[2020-12-15 05:48] Coldfire93 commented on #188
@bcebere
tenseal             0.1.0
OS:      macOS 10.15.6
Thank you.

[2020-12-15 06:14] bcebere commented on #188
@Coldfire93
Yes, you are right, the version with serialization support isn't marked as stable yet.
The serialization was introduced in v0.2.0.

You can checkout the latest version, because we fixed several other bugs.
[code]

Please let us know if that fixes your problem.

[2020-12-15 06:51] Coldfire93 commented on #188
@bcebere
I installed the version you specified, and the serialize() method runs correctly.
Thank you very much. 🙏

[2020-12-15 06:52] Coldfire93 commented on #188
@bcebere
I have another question.
I noticed that the tenseal version you provide for Linux platform is Linux 64bit. Will you provide the tenseal version for Linux 32 bit ?

[2020-12-15 06:56] Coldfire93 commented on #188
@bcebere
I have another question.
I noticed that the tenseal version you provide for Linux platform only supports Linux 64bit. Will you provide the tenseal version for Linux 32 bit ?

[2020-12-15 07:01] bcebere commented on #188
We don't have that in plan since there aren't many distros left that support 32bit.

But if you have a use case, please open a separate issue, and document the scenario/target platform, and we will have a look.

[2020-12-15 07:05] Coldfire93 commented on #188
@bcebere
I see. Thanks a lot. 😊

[2020-12-15 11:37] bcebere opened #189 "Security Hardening"
## Description
We should fortify the library. Some common compiler options for doing that are
[code]

[2020-12-15 11:40] bcebere opened #190 "Library fuzzing"
## Description
For security improvements, we should run a fuzzer over the library.

Some popular solutions are:
 - [AFL](https://github.com/google/AFL)
 - [LibFuzzer](https://llvm.org/docs/LibFuzzer.html)

Other resources: http://jefftrull.github.io/c++/clang/llvm/fuzzing/sanitizer/2015/11/27/fuzzing-with-sanitizers.html

[2020-12-15 11:41] bcebere opened #191 "Serialization security improvements"
## Description
By default, we shouldn't serialize the secret key too. We should let the user require this explicitly in a parameter.
This would prevent accidental secret key sharing over the network.

[2020-12-15 11:49] youben11 commented on #191
Totally agree!

[2020-12-15 12:09] youben11 commented on #191
related to #130

[2020-12-15 12:11] #35 closed

[2020-12-15 12:25] youben11 opened #192 "Reshaping CKKSTensor"
## Feature Description
We want to reshape our tensors, without any memory copy, but using the strided view we already have internally.

## Affected Dependencies
This will have an impact on the currently implemented element-wise operations. They are only iterating over the internal storage, however, different shapes require a different iteration.

## Is your feature request related to a problem?
Fu

[2020-12-16 11:23] youben11 opened #193 "Lazy loading of TenSEALContext"
## Feature Description
When an Encrypted Tensor is deserialized, it need to be linked to a TenSEALContext to be operational, and that's why we require the context to be passed during deserialization. However, we can deserialize without the TenSEALContext, setting the tensor to be non functional, then requiring to link it to a specific context later to make it functional.

## Is your feature reques

[2020-12-17 09:01] #188 closed

[2020-12-17 09:01] #174 closed

[2020-12-18 07:48] bcebere commented on #182
@desilo-seungwoojung have you made any progress with this issue?

we would love to include the fix in the 0.3.0 release.

[2020-12-18 07:49] bcebere commented on #193
I can work on this one.

[2020-12-18 07:50] bcebere commented on #192
I can work on this one.

[2020-12-19 11:32] jatanloya opened #195 "Implementing Set Intersection"
## Question
How do I implement private set intersection using TenSEAL?

## Further Information
Is there an inbuilt feature available or a way to implement PSI using TenSEAL?

## System Information
 - OS: macOS Catalina
 - OS Version: 10.15.7
 - Language Version: Python 3.7

[2020-12-19 12:10] bcebere commented on #195
Hello.

First of all, there is a dedicated implementation for PSI [here](https://github.com/OpenMined/PSI/tree/master/private_set_intersection).

If you want a solution over SEAL, there is one [here](https://github.com/OpenMined/PIR), using Private Information Retrieval.

If you want to use TenSEAL for that, we don't provide an implementation in the library. One inefficient solution would be to en

[2020-12-19 12:23] jatanloya commented on #195
Helo, thanks for the quick help.
I wanted something that runs over SEAL so the PIR link is quite helpful. I'll head there and try to customize it.
Thanks Again.

[2020-12-19 12:23] #195 closed

[2020-12-20 15:12] #192 closed

[2020-12-22 02:41] desilo-seungwoojung commented on #182
understood, will give you a pull request in a couple of days!

[2020-12-22 14:50] #193 closed

[2020-12-23 08:33] Coldfire93 opened #199 "Does TenSEAL supports the inner product calculation of two vectors?"
a = [1, 2, 3]
b = [2, 3, 4]
The inner product result of a and b is 20.  (1 * 2 + 2 * 3 + 3 * 4)

Does TenSEAL supports the inner product calculation?

Thank you~

[2020-12-23 08:51] #199 closed

[2020-12-23 12:58] youben11 opened #200 "CKKSTensor creation: parallel encryption"
## Description
Current tensor creation encrypts elements in a single thread by iterating over them, however, a more efficient way to do this is to run different threads that will encrypt a subset of the elements.

Better done after: #202

## Additional Context
We already have a threadpool implementation, we only need to refactor the code to use that.

[2020-12-23 15:43] youben11 opened #201 "Redefine API for matmul"
## Description
- [ ] Define matmul in EncryptedTensor
- [ ] Remove n_jobs from matmul in vectors: actually not necessary at all
- [ ] bind matmul in CKKSTensor

[2020-12-23 17:04] #176 closed

[2020-12-23 17:12] youben11 opened #202 "Refactor parallel computation launcher and return value checker"
## What?
Provide utility functions to start and check worker threads that takes as input a specific range.

## Why?
There was a lot of code reuse for code that starts different worker threads for a function that takes a range `(size_t start, size_t end)`, then checks if those functions failed or not. It was used in element-wise ops, matmul_plain, and matmul to name a few.

[2020-12-23 17:17] youben11 opened #203 "CKKSTensor: provide private overloaded function for mul, add and sub"
## What?
Provide private overloaded methods (with different possible parameters: CKKSTensor, PlainTensor and double) for mul, add and sub.

## Why?
Some methods like dot can be implemented as a template without much duplicate code if `mul` and `mul_inplace` weren't different methods. Although we wanna keep them different, we may have an inline private method `_mul` which can takes different input

[2020-12-24 11:17] Coldfire93 opened #204 "Only a finite number of computations can be performed on ciphertext. Is there any way to perform as many computations as possible?"
After about 3-4 computations, I have to decrypt it, then encrypt it, then compute it.

Since the decryption can only be performed on the side(client A) which has secret key, the encrypted intermediate results produced by client B have to be sent to A to decrypt and encrypt again.

Is there any way to perform as many computations as possible? (Even if 1-2 computations more)

Thank you!

[2020-12-24 14:34] youben11 commented on #204
You can increase the depth of your computation, by increasing the parameters you are using, at the cost of performance.

[2020-12-25 11:20] Coldfire93 commented on #204
OK. Thank you~

[2020-12-27 09:22] bcebere commented on #204
While we want do integrate a HE compiler in TenSEAL too, you can simulate your operations using [Microsoft EVA](https://github.com/microsoft/EVA) and generate optimal parameters for your scenario.

[2020-12-29 04:49] Coldfire93 opened #205 "Why does increasing the global_scale parameter not work?"
We tested the following code. And we found that  the multiply computation can only be executed correctly twice.
We increase the global_scale parameter from pow(2, 40) to pow(2, 60), but it does not solve the problem.
I was wondering if you could tell me the reason? Thank you~

`import tenseal as ts

context = ts.context(
            ts.SCHEME_TYPE.CKKS,
            poly_modulus_degree=8192,

[2020-12-29 07:04] bcebere commented on #205
The scale is affected by the polynomial modulo and coefficient modulo too.
Using
[code]
will work for you.

In case of "scale out of bounds", usually you have to increase coeff_modulus, adn with that, sometimes poly_modulus too.

That's why I was saying that HE needs a dry run first, to figure out the right parameters for the computation. If you have any suggestions here - about the usability or s

[2020-12-29 08:04] youben11 commented on #205
put another way, you can know how much mul you can perform from the `len(coeff_mod_bit_sizes)`, it's actually `len(coeff_mod_bit_sizes) - 2`. Your scale then need to match the number of bits in the middle coefficients (here 40, so scale=2**40).

[2020-12-29 13:02] Coldfire93 commented on #205
Thank you for your reply. I understand. 👍

[2020-12-29 13:04] Coldfire93 commented on #205
Thank you, I understand. 👍

[2020-12-30 09:25] Coldfire93 opened #206 "The save of the TenSEALContext object is interrupted."
The following code I used before works ok :
`
import tenseal as ts
import copy
import os

ctx = ts.context(ts.SCHEME_TYPE.CKKS, 8192, 0, [60,  40, 40, 60])
ctx.global_scale = pow(2, 40)
ctx.generate_galois_keys()
ctx_copy = copy.deepcopy(ctx)
ctx_copy.make_context_public()

path = "/tmp/vlr"
with open(os.path.join(path, "ctx_whole"), "wb") as f:
    f.write(ctx.serialize())
    print("save whole c

[2020-12-30 09:45] Coldfire93 commented on #206
I run the code on my Mac. The code runs correctly. But the memory consumption is almost 100%.
And the file size of ctx object is 1.6 M, but the file size of ctx_copy object is 116.8 M.
Why?

[2020-12-30 09:50] bcebere commented on #206
Are you using TenSeal 0.3.0a1?

Most likely iy is related to https://github.com/microsoft/SEAL/issues/249

There was an issue with SEAL 3.6, and it was fixed in 3.6.1, and we integrated it in TenSEAL 0.3.0a1.

[2020-12-30 23:18] jbzhang1 opened #207 "Example of multiplication between encrypted matrix and plaintext vector"
Hi,

I was wondering if there are examples of multiplication between an encrypted matrix (CKKSVector) and plaintext vector.

[2020-12-31 07:30] youben11 commented on #207
Hi @jbzhang1, we often have tests for the features we provide that you can use as a reference, and there is a test [here](https://github.com/OpenMined/TenSEAL/blob/ea8f04f7bb8b262dacb0dbd00f896b5d30ba57ad/tests/python/tenseal/tensors/test_ckks_vector.py#L1015) running this use case of yours.

[2020-12-31 20:19] ZSoumia commented on #187
Hi! If this one is tsill available can you assign it to me ?

[2021-01-04 06:54] #205 closed

[2021-01-04 18:30] #201 closed

[2021-01-14 01:15] ray-dedhia opened #211 "Does the CKKSVector class automatically encode data, and it possible to encode N-dimensional tensors for N>1?"
## Question
**Does the CKKSVector class automatically encode data, and it possible to encode N-dimensional tensors for N>1?**

## Further Information
1. Does the CKKSVector class automatically encode values before encrypting them? (It seems like this might the case from https://github.com/OpenMined/TenSEAL/pull/7, but I'm not 100% sure.) What about the CKKSTensor?

2. The `test_ckks_encoder` funct

[2021-01-14 06:29] youben11 commented on #211
Hi @ray-dedhia
1. Yeah, CKKSVector and the other tensors encode data automatically before encryption.
2. If you want to use N-dimentional tensor, you would prefer to use CKKSTensor instead of CKKSVector. The latter is more optimized for specific use case that can be represented using a vector, but is not flexible enough for higher value of N as the CKKSTensor.

[2021-01-14 07:23] ray-dedhia commented on #211
Thanks!

[2021-01-14 19:12] ray-dedhia commented on #211
By optimizations, do you mean that CKKSVector uses vector encoding, i.e. encodes the entire input 1D array of data into a single plaintext before encrypting it into a single ciphertext?

And CKKSTensor encodes the data points in the input N-dimensional array one-by-one into multiple plaintext before encrypting them into multiple ciphertext (which is why it takes much longer to perform encryption)?

[2021-01-14 20:38] youben11 commented on #211
You are right. However, CKKSTensor also provides a way to batch multiple matrices (e.g. 4096) into a matrix of ciphertext. So we can still use the packing capability of ciphertext in CKKSTensor, but serving a different purpose. In CKKSVector, the packing is considered as a useful dimension, an we can perform dot product across that dimension. However, in CKKSTensor, packing can only be used to bat

[2021-01-15 03:36] ray-dedhia commented on #211
Thanks!

[2021-01-15 03:36] #211 closed

[2021-01-16 06:24] #203 closed

[2021-01-17 04:21] ray-dedhia opened #215 "How do I set `poly_modulus_degree` to values higher than 2^15 (32768)?"
## Question
**Is there a way to set `poly_modulus_degree` to values higher than 2^15 (32768)?**

## Further Information
When I tried to set `poly_modulus_degree` to 2^16 (65536) while creating a context object, I got a ValueError message telling me the parameters I had chosen were invalid.

## Additional Context
I don't think this is an issue with what values Microsoft SEAL accepts as valid for th

[2021-01-17 06:42] bcebere commented on #215
Hello @ray-dedhia

There are 2 discussions here:
1. You are using the default values for "coeff_mod_bit_sizes" parameter.
 - In this scenario, for both BFV and CKKS, we generate coeff modulus using BFVDefault([code](https://github.com/OpenMined/TenSEAL/blob/master/tenseal/cpp/context/sealcontext.cpp#L21))
 - We use the default sec_level there, which is for 128 bits. ([code](https://github.com/micr

[2021-01-17 15:16] ray-dedhia commented on #215
Hi, thanks for replying so quickly! I'm trying to encode vectors of sizes > 16384. The simplest workaround would probably be encoding the data in chunks.

However, I was wondering, is there a way to create the context object with a value of coefficient modulus that will allow for values of `poly_modulus_degree` that are higher than 32768, maybe by overriding the context class constructor?

[2021-01-17 15:28] bcebere commented on #215
Actually, for the vector length, there is a PR pending here https://github.com/OpenMined/TenSEAL/pull/213
After that's merged, you can use the same API for arbitrarily sized vectors.

As I said, SEAL nor the HE standard support poly_modulus_degree > 32768 officially. We don't actually block anything in our constructor, but if you provide a compatible coeff_mod_bit_sizes with poly_mod 65536, it sho

[2021-01-17 15:43] ray-dedhia commented on #215
Thanks! Could you advise me on how to find a compatible `coeff_bit_mod_sizes` value for a `poly_modulus_degree` of 65536? I looked it up, but don't have the mathematical background to understand everything.

[2021-01-17 16:02] bcebere commented on #215
I looked through the SEAL code again, and for the creation of encryption parameters, they explicitly
 state:

It is not supported by them or by the standard, so I cannot recommend good values.

For security reasons, using poly_mod 8192 is just fine.
If you want to encrypt a larger vector, please wait for the merge of the PR mentioned above.

Thanks!

[2021-01-17 16:04] ray-dedhia commented on #215
Okay, thanks again for all the help!

[2021-01-17 16:04] #215 closed

[2021-01-18 19:20] qiminghe opened #216 "Polyval upto x^3 (multiplied-ciphertext) getting 'scale out of bounds' error"
## Description
polyval (upto x^3) works for cipher_text directly encrypted plain_text and additions, but does not work after multiplying plain/cipher_text.  Getting "ValueError: scale out of bounds".
polyval (upto x^2) works with all cases.

## How to Reproduce
import numpy      as np
import tenseal    as ts
context = ts.context(ts.SCHEME_TYPE.CKKS,poly_modulus_degree=8192,coeff_mod_bit_sizes=[60,

[2021-01-18 19:49] bcebere commented on #216
Hello.

On a first look, it works if you increase poly_modulus_degree
```ts.context(ts.SCHEME_TYPE.CKKS,poly_modulus_degree=16384, coeff_mod_bit_sizes=[60, 40, 40, 40, 60])```

But I am not entirely sure why it is failing in your scenario. I will have a look at that in the following days.

[2021-01-18 19:56] qiminghe commented on #216
Thanks for quick response. I tried 16384, even 32768. Does NOT help.
If anyone wants to approximate a non-linear activation function (as seen in ML) by poly, order x^3 should be the minimal to ask :-) Also we cannot assume input data are all directly encrypted plaint-text, e.g., in a multi-layered NN.

[2021-01-18 20:03] bcebere commented on #216
the snippet above doesn't work with 16384? what error do you get? I just tried it and it is OK.

[2021-01-18 20:05] bcebere commented on #216
Also, while it is not marked as stable, I recommend using
```pip install tenseal==0.3.0a1```

since we made several improvements since 0.1.0.

We will release another stable version soon.

[2021-01-18 20:21] qiminghe commented on #216
re-tried with 0.3.0a1. Same error. See SS. [
![tenseal-0 3 0a1](https://user-images.githubusercontent.com/4943625/104959680-bd453180-59a0-11eb-9e01-1608daf7d36c.PNG)
](url)

[2021-01-18 20:24] bcebere commented on #216
My bad, I forgot to mention, in the context above I change bit_sizes as well, not just the poly_mod.

[code]

coeff_mod_bit_sizes is [60, 40, 40, 40, 60] in my example.

[2021-01-18 20:27] bcebere commented on #206
Hello. Are you still experiencing this issue?

[2021-01-18 20:29] qiminghe commented on #216
Thanks a lot. works for both versions. coeff_mod_bit_sizes is the key.
I am assuming if I am going upto x^4 or higher, I just need to expand coeff_mod_bit_sizes in format [60, 40, 40, 40, ..., 60].

[2021-01-18 20:42] bcebere commented on #216
You don't have to expand coeff_mod_bit_sizes for every degree; there is a limit in SEAL anyway for their length/sum.

We have some tests for higher degree polynomials scenario here https://github.com/OpenMined/TenSEAL/blob/master/tests/python/tenseal/tensors/test_ckks_vector.py#L1113

As you can see, [60, 40, 40, 40, 40, 40, 60] should do the job for higher polynomials, but be careful with the pre

[2021-01-18 21:15] youben11 commented on #216
For computing polyval for a polynomial of degree N, your parameters need to support 'round_up(log2(N))' So x^3 already requires 2 multiplication, multiplying the result after the polynomial evaluation will require thus require 3 multiplications. If your parameters can't support the required number of multiplications, you will get a scale out of bound error after the last allowed multiplication

[2021-01-18 21:16] qiminghe commented on #216
Just got more

x=np.random.rand(10);
crypt_x = ts.ckks_vector(context, x)
w=np.random.rand(10,10);
crypt_y = crypt_x.matmul(w)
crypt_z = crypt_y.polyval([0.5, 0.197, 0, -0.004])  #works with advised coeff_mod_bit_sizes settings
output = crypt_z.matmul(w) # After polyval is crypt_
#However, when
0.1.0>>> output = crypt_z.matmul(w)
Traceback (most recent call last):
  File "<stdin>", line 1, in <mod

[2021-01-18 21:19] youben11 commented on #216
I assume your CKKS context supports 3 multiplications only (e.g. coeff_mod_bit_sizes=[60, 40, 40, 40, 60]), so the forth did throw the error.

[2021-01-18 22:32] qiminghe commented on #216
Not sure my last comment (after issue was closed) become visible. Just reopen and recap:
After we do polyval, can we multiply a plaintext vector with it? i.e.,
crypt_z = crypt_y.polyval([0.5, 0.197, 0, -0.004])
output = crypt_z.matmul(w)
I am getting different error from 0.1.0 and 0.3.0 for the above operation.

[2021-01-19 04:45] bcebere commented on #216
Hello.

Can you provide the full script that is failing now? Just to be sure about crypt_y's value.

[2021-01-19 04:57] qiminghe commented on #216
Sure. Test script is simply generating a vector/matrix of random numbers, and do func_poly( enc(x) *w) * w
==========
import numpy      as np
import tenseal    as ts
context = ts.context(ts.SCHEME_TYPE.CKKS,poly_modulus_degree=16384,coeff_mod_bit_sizes=[60, 40, 40, 40, 60])
context.generate_galois_keys()
context.global_scale = 2**40
x=np.random.rand(10);
crypt_x = ts.ckks_vector(context, x)
w=np.r

[2021-01-19 05:42] bcebere opened #217 "Improve exception messages for matmul"
## Description
Given the following script

[code]
throws
[code]

## Expected Behavior
This should throw
[code]

[2021-01-19 05:42] bcebere commented on #216
Thank you for reporting this.

The error you are receiving is not meaningful at all, and we will fix that, to forward the actual error. I opened https://github.com/OpenMined/TenSEAL/issues/217.

The actual error that is wrapped by std::exception is
[code]

This can be fixed by expanding coeff_mod_bit_sizes

[code]

[2021-01-19 11:00] #182 closed

[2021-01-20 02:58] Coldfire93 commented on #206
Sorry, I miss your reply. it has been solved. Thanks a lot.

[2021-01-20 04:07] #206 closed

[2021-01-20 13:24] #217 closed

[2021-01-24 07:25] #130 closed

[2021-01-24 07:25] #191 closed

[2021-01-26 20:20] bcebere opened #225 "Support replicate_first_slot for chunked vectors"
## Feature Description
Right, for input that doesn't fit the slot_count, we split in chunks that fit it and encrypt each one to a ciphertext.
This flow breaks some operations like matmul_plain.

replicate_first_slot is also disabled right now, and we should enable it for CKKSVector and BFVVector.

[2021-01-27 13:04] #225 closed

[2021-02-18 05:38] #216 closed

[2021-02-18 05:39] #204 closed

[2021-02-18 05:47] #207 closed

[2021-02-25 20:09] siamakz opened #232 "How to access ciphertext polynomial coefficients?"
## Question
Thank you for this great effort. I was wondering how can one access the values in a ciphertext. For example in CKKS, each cipher text is a pair of polynomials. Is there a way to print the coefficients of these polynomials?

[2021-03-01 16:37] danif93 opened #233 "Transpose of a CKKSTensor"
## Feature Description
API extension that performs the matrix transposition of a CKKSTensor. Suppose that _m_ is a CKKSTensor with shape _(2,3)_, then _m.transpose()_ returns a new CKKSTensor _m_T_ (or alternatively modifies _m_ in-place) ) equal to the transpose of _m_ ( the shape of _m_T_ is _(3,2)_ with _m_T[i,j]=m[j,i]_).
Have a look to the following pseudo-code:
`m = CKKSTensor(context, [[1,2

[2021-03-02 12:36] hackrx opened #234 "Error:No matching distribution found for Tenseal"
## Description
A clear and concise description of the bug.

## How to Reproduce
1. pip install tenseal

## Expected Behavior
It should install pip library

## Screenshots
![image](https://user-images.githubusercontent.com/54453778/109649031-58751d80-7b81-11eb-99d9-eeaeb56a23e0.png)

## System Information
 - OS: MacOsX
 - OS Version: macOS Big Sur 11.2.1
 - Language Version: Python 3.9.1
 - Package

[2021-03-02 13:09] hackrx commented on #234
Though this worked for me:
![image](https://user-images.githubusercontent.com/54453778/109653026-7e50f100-7b86-11eb-8d6a-336b596363c1.png)
` pip install git+https://github.com/OpenMined/TenSEAL.git#egg=tenseal`

[2021-03-11 05:35] bcebere commented on #232
Hello @siamakz

Can you detail more your use case? We can make printable versions, sure, just to understand the utility.

Thank you!

[2021-03-11 05:41] bcebere commented on #234
Hello.

Thank you for the report.

I am not familiar with Apple products, but I understand that PyPy is not supported on Big Sur yet, therefore we cannot deploy it there.

https://morepypy.blogspot.com/2020/

Once they add support, we will update our build process.

[2021-03-11 20:43] #233 closed

[2021-03-12 19:53] siamakz commented on #232
Hi @bcebere

This is mostly for demo purposes. People like to see how their information look once encrypted to make sure it's incomprehensible :)

[2021-03-15 03:10] imayuxiang opened #240 "pack_vectors returns wrong result"
I wrote a test. 5 encrypted vectors add 5 plain vector， and use pack_vectors function to pack them, then decrypted the result. But the result is not correct.
The program is bellow:

import tenseal as ts
import numpy as np

context = ts.context(ts.SCHEME_TYPE.CKKS, 8192, coeff_mod_bit_sizes=[60, 40, 40, 60])
context.global_scale = pow(2, 40)

generated galois keys in order to do rotation on ciphert

[2021-03-17 16:50] WestLifYan opened #241 "'Scale out of Bound' issue for several multiplication on the same ckks vector"
## Description
When I try to work out the function of matrix inversion, the error occurs when I try to perform multiplication between a ckks vector with plain text and assign the result to the same ckks vector.

## How to Reproduce
# Setup TenSEAL context
context = ts.context(
            ts.SCHEME_TYPE.CKKS,
            poly_modulus_degree=16384,
            coeff_mod_bit_sizes=[60, 40, 40,40, 60

[2021-03-17 17:43] bcebere commented on #241
Hello @WestLifYan

What value do you use for `n` in the loop?

[2021-03-17 18:00] WestLifYan commented on #241
Thank for reply
the n is the size of square matrix , in my case it is at least 200

[2021-03-17 19:00] bcebere commented on #241
Is fdScaler a PlainTensor? Can you provide the full code?

[2021-03-17 19:30] WestLifYan commented on #241
The fdScaler is Plaintext
The cold is:

    def encMatReversion(AM):
        IM = np.identity(len(AM))
        AM_enc = []
        IM_enc = []
        for i in range(len(A)):
            AM_enc.append(ts.ckks_vector(context, AM[i]))
            IM_enc.append(ts.ckks_vector(context, IM[i]))
        n = len(AM)
        fd = 0 # fd stands for focus diagonal OR the current diagonal
        fdScaler =

[2021-03-19 04:50] bcebere commented on #241
Thank you. We will investigate the issue.

[2021-03-19 04:51] bcebere commented on #240
Thank you. We will investigate the issue.

[2021-03-19 16:03] CerineBnsd commented on #200
Hello ! if this issue is still available, can you assign it to me ?

[2021-03-21 05:41] bcebere opened #242 "BFVVector: use multithreading for sum_inplace"
## Description
The sum_inplace operation of the BFVVector can be done using multithreading.

More precisely, we can parallelize [this loop](https://github.com/OpenMined/TenSEAL/blob/master/tenseal/cpp/tensors/bfvvector.cpp#L232).

You can see an example of how to use the existing threadpool [here](https://github.com/OpenMined/TenSEAL/blob/master/tenseal/cpp/tensors/ckkstensor.cpp#L234).

[2021-03-21 05:42] bcebere opened #243 "CKKSVector: use multithreading for sum_inplace"
## Description
The sum_inplace operation of the CKKSVector can be done using multithreading.

More precisely, we can parallelize [this loop](https://github.com/OpenMined/TenSEAL/blob/master/tenseal/cpp/tensors/ckksvector.cpp#L247).

You can see an example of how to use the existing threadpool [here](https://github.com/OpenMined/TenSEAL/blob/master/tenseal/cpp/tensors/ckkstensor.cpp#L234).

[2021-03-21 05:51] bcebere commented on #241
Hello. The noise increases even for plain operations, but at another rate. I think that is the problem in your situation.

[2021-03-21 06:12] bcebere opened #244 "Add C++ tests for tenseal/cpp/utils"
## Description
Add unit tests for the [utils](https://github.com/OpenMined/TenSEAL/tree/master/tenseal/cpp/utils) classes and methods.

The code is not exposed in Python, and we need the tests for spotting bugs much faster.

## Type of Test
- [x] **Unit test** (e.g. checking a loop, method, or function is working as intended)

[2021-03-21 06:17] bcebere opened #245 "Review and add C++ for contexts"
## Description
Extend the current C++ tests to cover all the code from https://github.com/OpenMined/TenSEAL/tree/master/tenseal/cpp/context.

Existing tests can be found [here](https://github.com/OpenMined/TenSEAL/tree/master/tests/cpp).

## Type of Test
- [x] **Unit test** (e.g. checking a loop, method, or function is working as intended)

[2021-03-21 06:22] bcebere opened #246 "BFVVector: implement add_plain_inplace"
## Description
Implement the add_plain_inplace operation for BFVVector [here](https://github.com/OpenMined/TenSEAL/blob/master/tenseal/cpp/tensors/bfvvector.cpp#L245).

You can see a similar implementation in the CKKSVector class [here](https://github.com/OpenMined/TenSEAL/blob/master/tenseal/cpp/tensors/ckksvector.cpp#L261).

In order to be accepted, the PR must include:
 - [ ] The implementation

[2021-03-21 06:24] bcebere opened #247 "BFVVector: implement sub_plain_inplace"
## Description
Implement the sub_plain_inplace operation for BFVVector [here](https://github.com/OpenMined/TenSEAL/blob/master/tenseal/cpp/tensors/bfvvector.cpp#L268).

You can see a similar implementation in the CKKSVector class [here](https://github.com/OpenMined/TenSEAL/blob/master/tenseal/cpp/tensors/ckksvector.cpp#L290).

In order to be accepted, the PR must include:
 - [ ] The implementation

[2021-03-21 06:25] bcebere opened #248 "BFVVector: implement mul_plain_inplace"
## Description
Implement the mul_plain_inplace operation for BFVVector [here](https://github.com/OpenMined/TenSEAL/blob/master/tenseal/cpp/tensors/bfvvector.cpp#L293).

You can see a similar implementation in the CKKSVector class [here](https://github.com/OpenMined/TenSEAL/blob/master/tenseal/cpp/tensors/ckksvector.cpp#L321).

In order to be accepted, the PR must include:
 - [ ] The implementation

[2021-03-21 06:27] bcebere opened #249 "BFVVector: implement matmul_plain_inplace"
## Description
Implement the matmul_plain_inplace operation for BFVVector [here](https://github.com/OpenMined/TenSEAL/blob/master/tenseal/cpp/tensors/bfvvector.cpp#L328).

You can see a similar implementation in the CKKSVector class [here](https://github.com/OpenMined/TenSEAL/blob/master/tenseal/cpp/tensors/ckksvector.cpp#L366).

In order to be accepted, the PR must include:
 - [ ] The implementat

[2021-03-21 06:28] bcebere opened #250 "BFVVector: implement polyval_inplace"
## Description
Implement the polyval_inplace operation for BFVVector [here](https://github.com/OpenMined/TenSEAL/blob/main/tenseal/cpp/tensors/bfvvector.cpp#L345).

You can see a similar implementation in the CKKSVector class [here](https://github.com/OpenMined/TenSEAL/blob/main/tenseal/cpp/tensors/ckksvector.cpp#L379).

In order to be accepted, the PR must include:
 - [ ] The implementation of th

[2021-03-21 06:36] bcebere opened #251 "Add C++ tests for tensor_storage.h"
## Description
Add C++ tests for https://github.com/OpenMined/TenSEAL/blob/master/tenseal/cpp/tensors/tensor_storage.h

The code is not exposed in Python, and we need the tests for spotting bugs much faster.

Existing C++ tests can be found [here](https://github.com/OpenMined/TenSEAL/tree/master/tests/cpp).

## Type of Test
- [x] **Unit test** (e.g. checking a loop, method, or function is working

[2021-03-21 06:38] bcebere opened #252 "Add C++ tests for tensor/utils"
## Description
Add the C++ tests for https://github.com/OpenMined/TenSEAL/tree/master/tenseal/cpp/tensors/utils

The code is not exposed in Python, and we need the tests for spotting bugs much faster.

Existing C++ tests can be found [here](https://github.com/OpenMined/TenSEAL/tree/master/tests/cpp).

## Type of Test
- [x] **Unit test** (e.g. checking a loop, method, or function is working as inte

[2021-03-21 09:56] youben11 commented on #112
if the contexts have different secret keys then they shouldn't be equal, but what if we don't have secret keys? Can we base the comparison on public keys only?

[2021-03-21 09:58] bcebere commented on #112
Maybe add a member with a hash checksum on the first context creation, and keep that for later checks?

[2021-03-21 10:06] youben11 commented on #112
This makes sense. As far as the keys aren't later set to a different value, this should be enough.

[2021-03-21 10:15] youben11 opened #253 "Check the value of global_scale if it fit with the current coeff_mod_bit_sizes"
## Feature Description
We need to warn the user if the scale doesn't match with the currently chosen coeff_mod_bit_sizes. Basically, we need to check that `log2(global_scale)` is equal to all the values in `coefficient_mod_bit_sizes[1:-1]`. We only need to warn the user, as advanced users might want to experiment something different, like not keeping the same scale during the computation.

## Is y

[2021-03-21 10:51] youben11 commented on #240
The issue is that the current implementation take into account an assumption that isn't always true, which is that vectors are replicated across ciphertext slots. The implementation of pack_vectors is masking part of the vector by multiplying with a vector of 0's and 1's (0 where we want to mask, and 1 where we want to keep the value), but instead of rotating the ciphertext slots and adding them,

[2021-03-21 10:53] youben11 opened #254 "Extend pack_vectors to multi-ciphertext vectors"
## Description
The current implementation of pack_vectors only work with with vectors that are using a single ciphertext, however, the implementation should be able to be extended to support vectors of multiple ciphertext, but need to be more generalized for that case to work.

[2021-03-22 03:27] WestLifYan commented on #241
Thanks for pointing out. So, is it possible to perform unlimited multiplication in Tenseal ?

[2021-03-22 05:55] bcebere commented on #241
No. CKKS and BFV are leveled schemes, meaning you can perform a limited number of encrypted operations.
For the plain operations, the noise still increases, but at a lower rate. But you cannot do unlimited operations.

[2021-03-22 14:12] WestLifYan commented on #241
Thanks for your answer. Given the situations, can you give me a hint to make my matrix inversion function work well on Teanseal. I really like Tenseal and want to use it for my graduation project.

[2021-03-22 15:27] bcebere commented on #241
I don't have a good answer here.

I see there was [a discussion on SEAL's issue tracker](https://github.com/microsoft/SEAL/issues/240) as well.
Just to summarize it:
 - division is not supported for CKKS, and as far as I understand, for the matrix inverse, no matter what you do, you end up with a division.
 -  [This paper](https://eprint.iacr.org/eprint-bin/getfile.pl?entry=2018/565&version=201806

[2021-03-25 16:29] #246 closed

[2021-03-27 08:27] alexandrumeterez commented on #248
Hello! If this is still open, can I have a go at it?

[2021-03-27 10:59] youben11 commented on #248
@philomath213 are you working on it? or can we assign @alexandrumeterez ?

[2021-03-27 11:39] philomath213 commented on #248
No, I'm not.
@alexandrumeterez you can refer to #257 for the required changes (implementation, binding, tests).

[2021-03-28 04:08] seirokusan opened #258 "Size of public Context"
## Question
I wish to query if the size of a public Context is really in the range of 90+M bytes, after a serialisation?

## Further Information
A context is created with eh following codes and the output are:

    def create_ctx3():

        # parameters
        poly_mod_degree = 4096
        coeff_mod_bit_sizes = [40, 20, 40]
        # create TenSEALContext
        ctx_eval = ts.context(ts.SCHEM

[2021-03-28 08:40] youben11 commented on #258
Hi @seirokusan! The biggest part of the context in your case should be the galois keys. It would have been much smaller without it. For the compression, we are serializing keys using SEAL, which is already using zlib (or another compression mechanism that I don't remember), so applying compression to the already serialized context might not be that helpful.

[2021-03-30 09:51] danif93 opened #259 "Subscript operator for CKKSTensor"
## Feature Description
Introduction of the subscript operator ( \_\_getitem\_\_(self, index) ) for the CKKSTensor. This should allow selecting subrows and subcolumns from a CKKSTensor.
For example:
`t = CKKSTensor(context, torch.randn(4,5))`
`rt = t[3]          # rt is equal to the last row of t`
`ct = t[: , 4]      # rt is equal to the last column of t`
`rct = t[2: , 3:]  # rct is equal to the cr

[2021-03-31 06:30] amyzx opened #260 "Some questions about training encrypted model over encrypted data"
## Question
Hi, I am a student learning encrypted machine learning and have read your tutorial 1.
I have several questions as follows.

1. How can I train an encrypted model among many users?
    Assume user A, B, C submit encrypted data to the server, then the server trained 3 encrypted models.
    If I want to integrate these encrypted models by assigning different weights to 3 models, should A,

[2021-03-31 14:34] andreamur95 commented on #234
Same problem here. What can I do?
Mojave 10.14.6
Python 3.9.1
pip 21.0.1
<img width="1552" alt="Schermata 2021-03-31 alle 16 32 54" src="https://user-images.githubusercontent.com/56506386/113161523-c07d5900-923e-11eb-9deb-44cbdfdca449.png">

[2021-03-31 14:44] bcebere commented on #234
@andreamur95 Hello.

Your problem is different: we upload TenSEAL for OSX 10.15 or above. This is the minimum version supported by Github runners.
I am not familiar with OSX, but if you know how to change the minimum version to 10.14(maybe some env variable), please open a PR.

Otherwise, please clone this repo, and run ```pip install .```

[2021-03-31 17:05] youben11 commented on #260
Hi @amyzx!
1. This use case will require Multi-Key Homomorphic Encryption (MKHE) which we doesn't support
2. Yeah, the model should be just a bunch on encrypted weights, you can decrypt them and apply inference, or do even more epochs of training using plain data
3. The input for the model doesn't necessarily need to be encrypted, but providing a public-key is also fine. For the result of the mode

[2021-03-31 17:15] comidan opened #261 "Noise budget CKKS"
## Question
How is it possible to get the current invariant noise of a ciphertext through your python library?

## Further Information
Searching in the repo I found out about the _invariant_noise_budget_ method in the [test_evaluator.py](https://github.com/OpenMined/TenSEAL/blob/eed2a73879ad8228b7e6d70a86cfc973235ff74a/tests/python/sealapi/test_evaluator.py) file with the usage of _helper_generate

[2021-04-01 16:37] youben11 commented on #260
Doing the evaluation is just a series of computation, so let's focus on the first one. We are assuming the model weights are encrypted.
1. In the case when we first encrypt the input data with a public-key, the first operation would be performed between a ciphertext (input) and another ciphertext (weights) and yields a ciphertext.
2. In the other case, where we just input the plain input, the oper

[2021-04-02 01:51] amyzx commented on #260
Thanks for your detailed reply! I got it!

[2021-04-02 01:51] #260 closed

[2021-04-02 11:49] bcebere opened #262 "Support for Bazel 4.0"
## Description
Bazel 4.0 build returns the following error
[code]

[2021-04-02 14:11] #262 closed

[2021-04-03 15:54] bcebere commented on #261
Hi

Thank you for your question.

Yes, you are right, the SEAL API is in a submodule of TenSEAL, and it is not directly linked to the TenSEAL bindings.

But we will have a look and try to link them together, it is a good use case.

[2021-04-04 04:59] bcebere commented on #261
Hi

Thank you for your question.

Yes, you are right, the SEAL API is in a submodule of TenSEAL, and it is not directly linked to the TenSEAL bindings.

But we will have a look and try to link them together, it is a good use case.

[2021-04-05 06:24] bcebere commented on #261
@comidan This PR https://github.com/OpenMined/TenSEAL/pull/265 tries to address your question.

Before we merge it, can you confirm if [this test](https://github.com/OpenMined/TenSEAL/blob/pybind_submodule/tests/python/tenseal/test_tensealcontext.py#L115) is similar to what you are expecting?

Thank you!

[2021-04-05 06:42] #241 closed

[2021-04-05 07:35] comidan commented on #261
Yes, I wanted indeed to monitor the noise level among operations in order to choose the best encryption paramaters in a specific case.

Just one thing, I asked about the CKKS scheme but in the test it's shown the BFV scheme usage only. If it will work as well as with CKKS tensor than yes it's ok, but I think yes because I saw the new code you wrote and it involves adding references to the CKKS ten

[2021-04-05 07:40] bcebere commented on #261
The noise growth monitoring is possible only for the BFV scheme, using the invariant_noise_budget call.

The noise monitoring is not possible for CKKS, and SEAL doesn't support it. You can try to approximate it, but it is rarely close to the real value. However, the noise in CKKS is not an issue for decryption fails, as it is for BFV, but it affects the precision.

[2021-04-05 08:21] comidan commented on #261
Ok I understand, thank you for the very informative link! It's very interesting and useful.

I think then that this issue is completely solved, since there is already a fix waiting for merge approval.

[2021-04-06 04:48] bcebere opened #266 "Improve logging"
## Description
Improve logging:
 - make the logging configurable in the library. We can use dedicated bindings for the logging logic, with settings like output stream/log level/etc.
 - make the current warnings optional/debug log level.
 - include the exceptions in the new logger.

Some options for logging libraries are:
 - https://github.com/gabime/spdlog
 - https://github.com/emilk/loguru

[2021-04-06 17:40] #261 closed

[2021-04-07 11:41] Praneshss commented on #136
Is this issue still open?

[2021-04-07 11:43] bcebere commented on #136
Yes, the issue is still open.

[2021-04-07 11:49] Praneshss commented on #136
Ok. Let me work on it. Thanks

[2021-04-07 11:51] bcebere commented on #136
Great! Please let us know if you need any help on this.

Thank you!

[2021-04-08 11:17] #70 closed

[2021-04-09 13:55] fboemer opened #272 "Intel HEXL Support"
Hi, thanks for the library. This is a neat project. It's the only python wrapper for SEAL I'm aware of that keeps up-to-date with the latest SEAL releases.

SEAL v3.6.3 adds support for Intel HEXL (https://github.com/intel/hexl), an AVX512 acceleration library. I'm wondering if you'd had a chance to try SEAL support for HEXL? See the Intel HE Toolkit whitepaper at (https://software.intel.com/conte

[2021-04-09 14:10] bcebere commented on #272
Hi @fboemer

Thank you for the wonderful contributions to Intel HEXL. I saw from SEAL's issue tracker that it adds an impressive speedup.

The latest [TenSEAL release](https://github.com/OpenMined/TenSEAL/releases/tag/v0.3.1) includes SEAL 3.6.3, as you mentioned, and we also activated [the SEAL_USE_INTEL_HEXL flag](https://github.com/OpenMined/TenSEAL/blob/master/cmake/seal.cmake#L5) in this rele

[2021-04-10 09:53] #248 closed

[2021-04-10 10:19] bcebere opened #273 "pybind: remove unused bindings"
## Description
Some TenSEAL bindings are not used anymore in the Python API, and we should remove them.

You can find the current Python API in:
 - https://github.com/OpenMined/TenSEAL/tree/master/tenseal/tensors
 - https://github.com/OpenMined/TenSEAL/blob/master/tenseal/enc_context.py

The current TenSEAL bindings are [here](https://github.com/OpenMined/TenSEAL/blob/master/tenseal/binding.cpp).

[2021-04-12 10:39] bcebere commented on #272
Hello. We did the benchmarks. Since the SEAL benchmarks are pretty clear, we mostly focused on ML operations.

We did the tests on a couple of AWS instances, the old version vs. the HEXL version and older hardware vs. hardware with AVX152 support.

TenSEAL 0.3.0 is the older version, with SEAL 3.6.2.
TenSEAL 0.3.1 is the newer version, with SEAL 3.6.3 and HEXL on.

Compiler: Clang 10.
OS: Ubuntu 2

[2021-04-12 14:39] fboemer commented on #272
@bogdancebere , thanks for the detailed report! Our current HEXL implementation/integration has focused on improving performance on AVX512-enabled machines. In particular, the recent Intel processors with the AVX512-IFMA52 instruction set (IceLake server, IceLake client) should yield up to additional ~2x speedup (see performance numbers in Tables 1-4 of https://arxiv.org/pdf/2103.16400.pdf) than t

[2021-04-13 06:38] bcebere commented on #272
Thank you so much for the explanations!

Regarding the compilation: we build, package and deploy the library to PyPI using Github runners, and we don't have much control over the hardware we're using. Furthermore, we cannot distinguish at `pip install` between supported architectures. Having a single binary for both scenarios(AVX152 and non-AVX152) compiled on any hardware would be fantastic!

[2021-04-13 21:19] alexandrumeterez commented on #259
Hello!
If this one isn't taken, can I have a go at it? I think I'll need a little help though.

[2021-04-14 11:53] bcebere opened #275 "FR: Compute square root over an encrypted tensor"
## Feature Description
For computing the standard deviation in encrypted space, we need to be able to compute the square root of a tensor.
One iterative algorithm for square root is presented here -> https://eprint.iacr.org/2019/417.pdf.

 In order to be approved, the PR must include Python and C++ tests for computing the square root.

[2021-04-14 11:53] bcebere opened #276 "FR: BatchNorm support"
## Feature Description

BatchNorm support in encrypted space.

For BatchNorm, we need support for computing:
 - the mean - this implies a summation and a multiplication with plain (1/N).
 - the variance -  this implies sqrt, summation, and multiplication with plain (1/N).
 - square root from variance - One iterative algorithm for square root is presented here https://eprint.iacr.org/2019/417.pdf.

[2021-04-14 11:57] bcebere opened #277 "FR: Implement min/max for encrypted values"
## Feature Description
For implementing MaxPooling, we need to have a way to do min/max operations in encrypted space.

Some potential solutionsa/algorithms:
 - https://eprint.iacr.org/2019/417.pdf
 - https://eprint.iacr.org/2019/1234.pdf

In order to be approved, the PR must include Python/C++ tests for the min/max operations.

[2021-04-14 11:58] bcebere opened #278 "FR: Implement MaxPooling"
## Feature Description
Implement MaxPooling operation.

Depends on https://github.com/OpenMined/TenSEAL/issues/277.

In order to be approved, the PR must include Python/C++ tests for the MaxPooling operation.

[2021-04-14 12:04] bcebere opened #279 "FR: Investigate Microsoft EVA support"
## Feature Description
We need to investigate the support for HE compilers.

Microsoft EVA is a compiler for SEAL. https://github.com/microsoft/EVA
Paper: https://arxiv.org/pdf/1912.11951.pdf

Update this task with any findings related to the topic.

[2021-04-15 04:22] youben11 commented on #276
In the scope of machine learning, the mean and variance are computed during training, then used throughout inferences of the model. So I believe that we shouldn't necessarily need to compute those on encrypted data to perform batchnorm.

[2021-04-16 08:13] #83 closed

[2021-04-16 08:58] comidan opened #280 "BFV Tensor"
## Question
Hello, is it possible to encrypt or encode a tensor in BFV in order then to be able to make matrix operations such as matmul, dot, etc. in the same way as it is possible with CKKSTensor?

## Further Information
In this [tutorial ](https://github.com/OpenMined/TenSEAL/blob/master/tutorials/Tutorial%202%20-%20Working%20with%20Approximate%20Numbers.ipynb) it's shown the following image. !

[2021-04-16 09:30] bcebere commented on #280
Hello @comidan

We offer the [BFVVector](https://github.com/OpenMined/TenSEAL/blob/master/tenseal/cpp/tensors/bfvvector.h), with partial support for some operations. [Tasks are pending](https://github.com/OpenMined/TenSEAL/issues?q=is%3Aissue+is%3Aopen+BFVVector) for adding the API on par with CKKSVector, and any help is welcome.

There is no plan for BFVTensor, but as I said, any contribution is

[2021-04-17 08:24] comidan commented on #280
Hello @bcebere, I'm sorry to reopen the issue. I'm struggling a bit in this task.

The main reason I opened this question was to be able to perform matrix multiplication between BFV encrypted matrices, without having to encrypt every single element of each matrix with BFV scheme but instead representing each matrix as a series of BFV encrypted vector with your BFVVector class.

Do you know any res

[2021-04-17 08:30] bcebere commented on #280
Hello @comidan

For matrix multiplication, you can see a reference in the CKKSTensor class. https://github.com/OpenMined/TenSEAL/blob/master/tenseal/cpp/tensors/ckkstensor.cpp#L592

As I said, we only have the BFVVector representation, and we support(or we should support) only matrix x 1D vector operations there.

A more flexible BFV Tensor would help here, and CKKSTensor is a good reference to do

[2021-04-18 09:32] comidan commented on #280
Hello @bcebere
I'm trying to do it, I'm sharing here the initial code.

[code]
As you can see the problem now is the fact of not having access to a add_many method compatible with __tenseal_cpp.Ciphertext_ but only to _seal::Ciphertext_.
Do you have any suggestions on handling this?

Thank you!

[2021-04-18 09:56] bcebere commented on #280
Hello @comidan

As you can see, the C++ part of BFVVector already implements dot product [here](https://github.com/OpenMined/TenSEAL/blob/master/tenseal/cpp/tensors/bfvvector.cpp#L213). There you can access the evaluator object.

However, the operation is not exposed to the Python bindings.
For that, you need to:
 1, Add the pybind bindings [here](https://github.com/OpenMined/TenSEAL/blob/master/t

[2021-04-18 11:54] comidan commented on #280
Hello @bcebere

Thank you very much for the detail guide, and also thank you so that I learnt a bit how is it possible to bind C++ code to Python!

Anyway, I added in [here](https://github.com/OpenMined/TenSEAL/blob/master/tenseal/binding.cpp#L161) the following definition
[code]

And [here](https://github.com/OpenMined/TenSEAL/blob/master/tenseal/tensors/bfvvector.py#L74) the following

[code]

B

[2021-04-18 12:28] bcebere commented on #280
Yes, that is correct. I guess the dot product needs more research.

The dot product calls [sum_vector](https://github.com/OpenMined/TenSEAL/blob/master/tenseal/cpp/tensors/utils/utils.cpp#L24).

This calls rotate_vector from SEAL, but this is supported [only for the CKKS scheme](https://github.com/microsoft/SEAL/blob/main/native/src/seal/evaluator.h#L1083).

The SEAL API also provides rotate_rows/

[2021-04-18 16:41] comidan commented on #280
Sorry @bcebere to disturb you again.
Do you think that adding some compatibility to NumPy in order to bypass all these problems is something feasible and "easy" I could do?

I mean in the sense of being able to encrypt instead of a list of integers as it is now if it could be encrypted just one integer and then each of these encrypted integers will be the elements of a NumPy matrix. Now it will be

[2021-04-18 17:29] bcebere commented on #280
TenSEAL handles NumPy objects and converts them to the encrypted space.
There are two flavors: Vector and Tensor. Our main focus is on CKKS since it is more appropriate for machine learning.
The Vector implementation has an optimized memory layout, which means that a ciphertext contains vectors of elements.
The Tensor implementation is more flexible but also more memory-hungry.

The problem is tha

[2021-04-18 17:40] comidan commented on #280
I better understand now, thanks.

Thank you very much @bcebere!

Yes sure, just to have now a working dot product for BFV is what should be needed to make the above code works.
I'll continue to work on that in the following days.

[2021-04-19 09:38] comidan commented on #279
Hello @bcebere, I've been trying to use EVA for a while in order to understand it better and because I think it could be useful for my thesis.

EVA is not very well documented but they provide access through Python to their compiler via PyEVA and there are some provide examples.
This makes quite easy to write, for example, a ML model and to make it evaluated by EVA which will provide the minimum r

[2021-04-19 16:56] bcebere commented on #279
@comidan Thank you for the detailed explanation!

Yes, we are very interested in EVA, and we plan to integrate TenSEAL with EVA in the following weeks. It is a major improvement in usability, for sure.

Regarding multithreading - the EVA docs mention that you can enable multicore support by recompiling the library with
```cmake -DUSE_GALOIS=ON .```

Maybe that helps!

Also, you can use the generat

[2021-04-19 17:31] comidan commented on #279
I agree!

Thank you very much @bcebere, I don't know how I didn't see it.

Yes exactly, that's what I've been doing to test the multiplicative depth via TenSEAL with the given parameters found by EVA

[2021-04-19 17:48] comidan commented on #280
Hello @bcebere, today I've been trying to create the BFVTensor.

I was able to successfully compile the library with the new classes, methods and the various C++ - Python bindings.
I was also able to make the Python BFVTensor class pass some tests like sum, sum_batch, power, etc., but I'm stuck at one where I unexpectedly get `ValueError: SEAL: couldn't find context_data from params_id`.

How coul

[2021-04-19 17:55] fboemer opened #284 "Slack link not working?"
The `Click here to join our Slack community!` link from the main README as well as the `General Questions about OpenMined
` issue template both lead to a Slack website showing:

[code]
This also happens for me when I go to `https://slack.openmined.org/` directly

[2021-04-19 18:09] cereallarceny commented on #284
This has been fixed. https://slack.openmined.org

[2021-04-19 18:09] #284 closed

[2021-04-19 18:22] bcebere commented on #280
Hello.

Yes, please open a PR.

For C++ tests, you can check out the Github workflows. For running the tests via CMake, you can use https://github.com/OpenMined/TenSEAL/blob/master/.github/workflows/scripts/run_gtest_nix.sh#L3

For Bazel, you can use https://github.com/OpenMined/TenSEAL/blob/master/.github/workflows/bazel_tests.yml#L31

Thank you!

[2021-04-19 21:01] comidan commented on #280
I added the PR [here](https://github.com/OpenMined/TenSEAL/pull/285).

I don't know why it stops from running the Python tests right at the beginning, on the VM I'm using with Ubuntu 20 they run smooth till the one with the previously described error.

[2021-04-22 08:05] comidan commented on #280
Solved with #285, closing the issue.

[2021-04-22 08:05] #280 closed

[2021-04-25 13:42] #259 closed

[2021-04-26 08:46] harshraj32 opened #288 "In[5] of tutorial 4: encrypted convolution on MNIST"
the execution requires 2 seconds per encrypted inference was mentioned and since there were 10k images, i ran it for 8hrs. but i still didnt get any output.

[2021-04-29 19:16] #200 closed

[2021-04-30 08:09] lianglizxc opened #294 "Is it possible to train an Encrypted convolution network on encrypted image data?"
Dear author:
we are working on a project which require model capable of doing image classification. We would like to train it with encrypted convolution network on encrypted image data. On tutorial 4, You demonstrated how to train a plain PyTorch model, then evaluate it on encrypted data。Do you think it is possible to take one step (or maybe several steps) further? Thank you

[2021-05-03 18:21] olsaarik commented on #279
Hi! The `-DUSE_GALOIS=ON` support had a bug that I recently fixed in the `main` branch of EVA. It'll now use all the cores available to the process by default.

[2021-05-06 17:24] CerineBnsd commented on #243
The function will be the same in both CKKSVector and BFVVector, is it possible to write it only once in encrypted_vector.h ?

[2021-05-07 14:09] siamakz opened #295 "Example usage of seal api"
Hello,

I am wondering how to use the tenseal.sealapi. For example, is it possible to do all the steps [here](https://github.com/microsoft/SEAL/blob/main/native/examples/4_ckks_basics.cpp) using the seal api? If yes, I am not sure how to do it. Any help will be appreciated!

[2021-05-08 00:53] youben11 commented on #243
Yes, it totally make sense if it's the same on both sides

[2021-05-19 03:26] bcebere commented on #295
Hello @siamakz

You can find several examples for the sealapi submodule in the tests sections [here](https://github.com/OpenMined/TenSEAL/tree/master/tests/python/sealapi). I hope this helps you.

[2021-05-20 20:31] #295 closed

[2021-05-28 23:07] ZSoumia commented on #294
Hi ! What do you mean by encrypted convolutional network ? Do you mean you want to train the network then encrypt the weights after training ? If this is what you mean then the computation done between two homomorphically encrypted ciphers exist but it's inefficient( require special settings and produces larger ciphers). I believe there are some cool works done in this area of  Multi-Key Homomorph

[2021-05-29 10:30] lianglizxc commented on #294
Hi, thank you for reply
I mean we encrypt image data, then train a  convolutional network on those. we do not want encrypt weights
Since input data are encypted, I guess weights will not be the same as those trained in plain data, so I call it Encrypted convolution network on title, sorry for misunderstanding.
theroticall I think it is possible as long as activation functions are handled corretly.

[2021-05-30 10:36] ZSoumia commented on #294
This is possible but it's a big challenge in terms of computation ( needs efficient ways of doing the matrix/vector multiplication + efficient way of computing non linearities...). To the best of my knowledge the existing works doing this used networks with 2 or 3 layers with a square activation function. The final accuracy was good compared the version trained on plain data( you can check this [p

[2021-06-10 22:03] ghisaac opened #298 "copy() and serialize() not attributes of Tenseal Context"
## Question
Attempting to follow the server/client inference tutorial and I am getting exceptions stating that copy() and serialize() do not exist as attributes of the context, any ideas?

![image](https://user-images.githubusercontent.com/38510079/121603015-6ff95780-ca48-11eb-82cb-e1989fdbf0f8.png)

[2021-06-11 10:38] #298 closed

[2021-06-11 10:38] ghisaac commented on #298
It seems the problem was that my pip was on version 0.1.0 while these methods exist in 0.3.4, apologies for the confusion!

[2021-06-17 02:29] napoay commented on #234
same question +1

[2021-06-26 10:55] YanchoBasil-1989 opened #299 "When I run Tenseal tutorials 2 on raspberry pi 4 i always have error "module 'tenseal' has no attribute 'context'""
## Question
**Describe your question in ONE SENTENCE.**

## Further Information
Describe your question in greater length here.

## Screenshots
If applicable, add screenshots to help explain your question.

## System Information
 - OS: [e.g. iOS]
 - OS Version: [e.g. 22]
 - Language Version: [e.g. Python 3.7, Node 10.18.1]
 - Package Manager Version: [e.g. Conda 4.6.1, NPM 6.14.1]

## Additional Co

[2021-06-30 16:58] scottsongc opened #300 "How to deal with 'scale out of bounds' when do multiplication?"
## Question
**How to deal with 'scale out of bounds' when do multiplication?**

## Further Information
I am employing the tenseal on sigmoid approximation on an encrypted tensor, but it told me that 'scale out of bounds'. I saw this question can be deal in SEAL with rescale, how can I do this operation in tenseal?

## Screenshots
<img width="1018" alt="image" src="https://user-images.githubusercon

[2021-07-04 22:13] youben11 commented on #300
Rescaling is done for you automatically in TenSEAL, however, you need to have chosen appropriate parameters to be able to perform the number of multiplication required by your circuit. Here, the polynomial is of degree 3, thus require a depth of 2. Your coefficient modulus degree must look something like: [A, x, x, B] in order to work.

[2021-07-04 22:16] youben11 commented on #299
I don't think we have support to ARM processors, in which case, you are installing a really old package, which is just packaging some minimal source code (can you check the version of the tenseal package you have?). In order to have it working on a raspberry for the moment, you will need to build it from source. You can find instructions to do so in the README

[2021-07-05 10:24] ghisaac opened #301 "TenSEAL Compatibility with AWS SageMaker"
## Question
Does TenSEAL work well, if at all, with AWS SageMaker platform?

## Further Information
I am working on a prototype for homomorphically encrypted machine learning and have managed to created a very small scale demo as a proof of concept for my team. However, looking forward towards the idea of scaling TenSEAL to bigger and better things, one of the things I am researching is AWS SageMa

[2021-07-05 12:45] houseshiliang opened #302 "How to print ts.ckks_vector"
## Question
How to print ts.ckks_vector or save ts.ckks_vector in a file（eg, txt file）?

## Further Information
context = ts.context(
        ts.SCHEME_TYPE.CKKS,
        poly_modulus_degree=8192,
        coeff_mod_bit_sizes=[60, 40, 40, 60]
    )
    context.generate_galois_keys()
    context.global_scale = 2 ** 40

    a0 = [-0.791,0.791]
    a1 = ts.ckks_vector(context, a0)

I want to save the

[2021-07-07 01:35] lidh15 opened #303 "Is the slot count still a bottle neck in tenseal?"
## Question
Is the slot count still a bottle neck in tenseal?

## Further Information
We all know that a ckks cipher with poly modulus degree equal to 8192 can not hold more than 4096 numbers, thus it's difficult to handle with when I got 4097 numbers.

## Screenshots
Okay, I got no screen shots. I just want to know this before I try tenseal on my computer.

## System Information
 - OS: [LINUX]
 -

[2021-07-07 02:15] lidh15 commented on #303
okay, as it's much simpler to use than SEAL, I tried it in the past few minutes and the slot count is still there disabling matmul, is it possible to support matmul of arbitrary size matrix in the future version?

[2021-07-09 08:47] YanchoBasil-1989 commented on #299
thanks very much will try that

On Sun, Jul 4, 2021 at 11:16 PM Ayoub Benaissa ***@***.***>
wrote:

[2021-07-10 09:13] youben11 commented on #302
There is serialization methods for objects in TenSEAL. The serialization transforms an object into a bytes object, then you can save it however you want. Some examples in serialization tests here https://github.com/OpenMined/TenSEAL/blob/master/tests/python/tenseal/tensors/test_serialization.py

[2021-07-10 09:17] youben11 commented on #303
the current implementation uses a single ciphertext for matrix multiplication, and extending this to multiple ciphertexts isn't really straightforward, given the limited constraints that we are putting on the input (not necessarily being of size power of two). So the only way currently is to increase your polynomial modulus to have more slots.

[2021-07-10 09:18] youben11 commented on #301
I haven't heard of someone doing that in the past, but I don't think there is any limitation, specially since you can run your own containers AFAIK on Sagemaker, and we already have a docker image for TenSEAL.

[2021-07-12 09:43] ghisaac commented on #301
Thanks for your reply, I had the same suspicion. I'll keep experimenting and see if I can't get a working flow going. :)

[2021-07-12 09:43] #301 closed

[2021-07-13 12:37] #303 closed

[2021-07-13 13:09] Wheest opened #304 "Incremental build for faster developing"
I am making changes to the internals of the C++ code, and want to quickly test my changes.  How can I do this without running a full rebuild, which `pip install .` does.

[2021-07-14 20:32] youben11 commented on #304
True that not everything need to be rebuilt in order to test a small change, however, the way the python installation works, AFAIK, creates a temporary directory which will be deleted at the end, so no caching on intermediate objects. I can't recall if we had a workaround, but if it can be integrated as a dev tool, it would be great.

[2021-07-15 15:13] bcebere commented on #304
Hello,

You can run

[code]

bdist_wheel step should reuse the cache on multiple runs.

[2021-07-15 15:13] #302 closed

[2021-08-02 12:39] PenguinLeee opened #306 "Something about rotation operation"
Hi, does TenSEAL contains API for rotation operation in CKKS scheme?  I tried to find the API in source code but failed. Is it not implemented in TenSEAL or just my miss?

[2021-08-06 20:46] allanhungria opened #307 "How to serialize and then deserialize CKKS_vectors and CKKS_tensors?"
## Question
How do I serialize a CKKS_vector?

## Further Information
I'm running into

TypeError: can't pickle _tenseal_cpp.CKKSVector objects

whether using pickle or dill.  I saw that you fixed this problem back in May 2020, but apparently there's an issue with that fix?

## Screenshots
<img width="1671" alt="pickling_problem" src="https://user-images.githubusercontent.com/2104840/128568552-323

[2021-08-10 09:04] a7853z opened #309 "what's the difference between encryption using tenseal and using sealapi?"
## Question
**what's the difference between encryption using tenseal and using sealapi?**

[2021-08-13 21:28] #307 closed

[2021-08-13 21:45] allanhungria opened #310 "Limited number of/accuracy of multiplications."
## Question
I notice that there's a limitation on the number and accuracy of multiplications that TenSEAL can perform on encrypted data, and I notice that this depends on the coeff_mod_bit_sizes vector as well as the global_scale parameter, but I don't understand this dependence.  Could someone please provide a general idea of this dependence?

## Further Information
I take a dataframe, encrypt it

[2021-08-14 09:36] youben11 commented on #306
Hi @PenguinLeee ! It's not available in the API because of the abstraction we build on top of ciphertexts. I would assume that a user rotating an encryption of the vector `v = [1, 2, 3]` to the right to endup with the encryption of vector `v2 = [3, 1, 2]`, but this isn't straightforward to do with the underlying ciphertext, it will depend on the size of the vector, as well as the polynomial size u

[2021-08-14 09:38] youben11 commented on #309
The encryption is the same, actually, both uses the same API at the end. However, the objects you would manipulate would be different.

[2021-08-14 09:42] youben11 commented on #310
In [Tutorial 4](https://github.com/OpenMined/TenSEAL/blob/master/tutorials/Tutorial%204%20-%20Encrypted%20Convolution%20on%20MNIST.ipynb) under the Encrypted Evaluation section, you should find intuitions on how to choose parameters for your computation

[2021-08-16 07:50] a7853z commented on #307
@allanhungria Having the same issue. Any luck solving this?

[2021-08-16 08:00] bcebere commented on #307
@a7853z and @allanhungria

We explicitly disabled `pickle` support, because it complicates the context management.

We offer serialize/deserialize calls in each object, to achieve that.

You can see (examples in the tests)[https://github.com/OpenMined/TenSEAL/blob/master/tests/python/tenseal/tensors/test_serialization.py].

I hope this helps.

[2021-08-16 08:30] a7853z commented on #307
@bcebere   Thanks, this helps.

[2021-08-16 08:46] bcebere opened #311 "Generate readthedocs page for the project"
- Improve the documentation for the project.
 - Generate sphinx docs.
 - Upload the docs to readthedocs.

[2021-08-16 11:51] pignuante opened #312 "Question about sharing public key, secret key context and cipher text Microsoft Seal & tenSeal"
## Question
Question about sharing public key, secret key context and cipher text Microsoft Seal(node Seal) & tenSeal

## Further Information
Hello tenSeal Developers.
Now I am doing  on a project to communicate with tenSeal Backend with MS Seal(node seal) frontEnd.

My question is this, In the case of MS seal(node seal) the public key, secret key and Cipher text is saved as a string and shared.
B

[2021-08-16 16:30] allanhungria commented on #307
@bcebere Not to mention pickling would not be secure, which I suppose would violate the whole point of the enterprise.  When I posed the question, I didn't realize the abstract tensor class that ckks_tensor inherits from had serialization/deserialization within it.  My fault for not looking deeply enough into the code.  That's why I closed the issue.

[2021-08-17 16:49] allanhungria commented on #310
@youben11 Thanks, I assume you mean the following:

"
Choosing the parameters isn't easy, so we list some intuition here for why we have chosen these parameters exactly:
1. For a given security level (e.g. 128-bits security) and a polynomial modulus degree (e.g. 8192) there is an upper bound for the bit count of the coefficient modulus (sum(coeff_mod_bit_sizes)). If the upper bound is surpassed, t

[2021-08-18 14:06] ChangYenTing commented on #277
I want to use TeanSEAL to implement KMeans, but when I calculate, I need to take the square root of the encrypted data and take the minimum value of them. I refer to the method that mentioned in https://eprint.iacr.org/2019/417.pdf, but when setting the d of sqrt(x,d) to 10, such a ValueError: scale out of bounds occured during the calculation.

[2021-08-18 17:37] spnzig opened #313 "Max operation for 2 encrypted numbers"
How to calculate the max of two homomorphically encrypted numbers.

If 'a' and 'b'  are two numbers, then I can find max using the below
x = (a + b) * 0.5
y =(a - b) * 0.5
z = sqrt(y * y)

As sqrt function is not supported, I tried converting it to power
z = (y * y) power (0.5)

But I get an error.
[code]
Is there any way to solve this?

![image](https://user-images.githubusercontent.com/30037676/

[2021-08-19 01:24] ChangYenTing opened #314 "Comparison of encrypted numbers"
## Question
After the encrypted number is calculated, can it be judged whether it is less than 0?

## Screenshots
![image](https://user-images.githubusercontent.com/45898497/129992624-88022f5c-bf0c-4910-8a61-79ad3181a7f6.png)

![image](https://user-images.githubusercontent.com/45898497/129992813-c3940757-ed37-4d29-b1c6-73fe4e5b3301.png)

[2021-08-21 07:15] youben11 commented on #310
The current implementation of CKKS in SEAL doesn't allow bootstrapping, which makes it leveled, which means that for a given set of parameters, you can only perform n multiplication. If you don't know in advance the number of multiplications, then you can't choose the right parameters. You might need to look into solutions that gives you the ability to perform unlimited multiplications for your us

[2021-08-21 07:18] youben11 commented on #313
pow on ckksvector only supports integer

[2021-08-21 07:19] youben11 commented on #314
I fear not, otherwise, you would be able to know the encrypted value by comparing the encrypted value to some set of plain values

[2021-08-21 07:19] #314 closed

[2021-08-21 11:45] napoay opened #315 "how to explain accuracy under the encrypted data is a little higher than that of the plain data"
## Question

How to explain this phenomenon, the accuracy under the encrypted data is a little higher than that of the plain data?

## Further Information

![22](https://user-images.githubusercontent.com/38783332/130320671-1cdb034c-5fcb-40a6-9992-0faceb389727.PNG)

I guess it is caused by the noise of the CKKS scheme.

[2021-08-25 12:48] PenguinLeee commented on #258
Hi @youben11 ! There are also some questions when I implement the benchmark tutorial.

1. Noticed that if all the keys are serialized, the context size is much smaller than only saving galois keys, which is weird since saving all keys should have consumed larger spaces than only saving galois keys and I wonder how does it happen.

2. I tried to train a neuron network with 28*28 inputs, however an

[2021-09-01 08:48] SaintJackson opened #316 "How to Run Enc() over GPU?"
Hi,

I am wondering if cuda computation is available in Enc() function from Tutorial 4 MNIST Dataset.

How to convert data to cuda tensors while doing encryption? Is it possible?

[2021-09-01 14:25] Kirija commented on #234
Hi, any progress made on the M1 front ?

[2021-09-02 02:47] RobertLucian commented on #316
Curious about this too!

[2021-09-02 09:54] dv-ai opened #317 "Memory leak for matmul operation"
Hi,

In my use case, I run several matmul operations and I observe that the memory used by my program grows very fast.
I try to investigate why my memory growing like this and I saw that the matmul operation consumes more memory than I was expected.

I was expected that the memory available after the matmul operation will decrease by the amount of memory of the tensor computed by the matmul operat

[2021-09-03 10:58] dv-ai commented on #317
When I desactivate the auto rescale (context.auto_rescale = False), the memory is:
memory_used=1.525137408 | memory_used_theoretical=1.835008

It seems that the memory issue coming from the rescale operation.
Do you have any ideas why the rescale have so high memory usage?

[2021-09-05 10:44] youben11 commented on #315
What I would expect is that some evaluation present a 51/49 percent probabilities for the different classes, making those examples really sensitive to noise. Examples like that could be classified the other way, with maybe 49/51 percent probabilities. This is just a guess, but I don't remember doing an investigation of the cause

[2021-09-05 10:45] youben11 commented on #316
TenSEAL does not provide ways to compute on GPU

[2021-09-05 10:47] SaintJackson commented on #316
Thanks. Looking forward to GPU feature if possible : )

[2021-09-05 10:47] #316 closed

[2021-09-05 10:56] youben11 commented on #317
Hi! There is an inplace variant for the matmul operations (and all the others), you can call `mm_` instead. I'm guessing that the non inplace operations makes the old ciphertext stay in memory, even if it's no longer referenced on the python side, not sure if it's because the CKKSTensor itself isn't freed, or that freeing it doesn't involve freeing the underlying ciphertext. We can confirm that if

[2021-09-05 11:07] youben11 commented on #258
When all keys are serialised, including the secret key, there is no need to send galois and relinearization keys, and the default, AFAIR, is to not send them when secret key is present, and regenerate them at deserialization.
For the second point, yeah, that's one disadvantage of Leveled HE, as the more the computation is complex, the more you need higher parameters, the more the size of your ciph

[2021-09-05 14:28] dv-ai commented on #317
Thanks you for your answer. I have the same issue with mm_. The memory is not equal to the memory of the new tensor due to the auto scale operation.

[2021-09-07 11:07] carlosaguilarmelchor commented on #317
Same issue here. I added a loop at the end of the code so that the multiplication is done in place multiple times

[code]

This is the output obtained with `auto_rescale = True`

[code]

And with `auto_rescale = False`

[code]

Apparently this is because SEAL creates ciphertexts inside allocated memory pools that are not released when ciphertexts are dereferenced (so that the memory pool can be us

[2021-09-12 12:12] napoay commented on #216
I encountered the same error:

[code]

`enc_z1 = sigmoid_2(enc_a1)` can be executed correctly， But`enc_z2 = sigmoid_2(enc_a2)`  can't be executed correctly:

[code]

[2021-09-24 15:00] Kirija opened #323 "Changing of rescale policy not permitted"
## Description
Changing online the rescaling leads to completely wrong results

## How to Reproduce
`import tenseal as ts
import numpy as np

bits_scale = 26
coeff_mod_bit_sizes = [31] + [bits_scale] * 24 + [31]
context = ts.context(
    ts.SCHEME_TYPE.CKKS,
    poly_modulus_degree=8192*4,  # 8192
    coeff_mod_bit_sizes=coeff_mod_bit_sizes,
)

context.auto_rescale = False
context.auto_mod_switch

[2021-10-04 09:24] work-hard-play-harder opened #353 "parameter position bug"
## Description
I am not sure whether the parameters (kernel_n_cols, kernel_n_rows) position in ts.im2col_encoding is a bug. If I set kernel_n_cols!=kernel_n_rows (e.g kernel_n_rows=2, kernel_n_cols=3), I got wrong results. But when I exchanged the values (e.g kernel_n_rows=3, kernel_n_cols=2), I got what I expected. As the attached image, I set (kernel_n_rows=2, kernel_n_cols=3), but I got a resul

[2021-10-08 17:31] Kirija opened #354 "Side effect and wrong result of a simple mul operation"
Hi,
on tenseal 0.3.4, a simple mul operation leads to the operands being overwritten

[code]

Results in :
Before mul X= [4.000000000647424]  scale= 40.0
Before mul Y= [0.5000000001644422]  scale= 40.0
After  mul X= [-3.9069508659243407e-10]  scale= 40.0
After  mul Y= [-1.8427671583511186e-09]  scale= 40.0

- Wrong result : x should be equal to 2
- Side effect: Y should stay at .5
- Wrong scale: X

[2021-10-09 11:25] gogogo66 opened #355 "The decryption results are inconsistent when great different parameters are used"
## Description
The result of following code is different when choose different  params **_coeff_mod_bit_sizes_**
[code]
[code]
While when I change the coeff_mod_bit_sizes even a little, the result is incorrect(seeing **add num first ,and then decrypt** result). And it has nothing to do with random number seeds
[code]
[code]

## How to Reproduce
Run the above code directly

## Expected Behavior
A c

[2021-10-14 16:25] vcozzolino opened #356 "How to have more than one conv layer"
I just started playing around with TenSEAL by following the encrypted convolutions example. I would like to add another `conv` layer to the example network but I'm not sure how to proceed, mostly because I don't know what logic to follow to provide to the second `conv` a matrix rather than the packed vector from `im2col`? How would I change the code in the example to achieve it?

I'm not sure that

[2021-10-15 09:04] dimk1 opened #357 "Illegal instruction (core dumped)"
## Description
I am unable to run some basic functionality. I have SEAL installed and tenSEAL installed via the pip installation command. I then run:

[code]

and the program is aborted.

[2021-10-20 08:07] bcebere commented on #357
Hello @dimk1

Testing your snippet using TenSEAL 3.5 on Ubuntu seems to work fine.

Could you please provide more details about your setup? TenSEAL version and the OS.

Thanks!

[2021-10-20 08:29] pfcqlj opened #358 "Serialization support"
I want to use tenseal in distributed machine envirmonent, but i failed due to serialization. So i want to know whether tenseal will add  serialization support for pickle

[2021-10-25 09:04] yoopaan opened #359 "Does tenseal support homomorphic encryption operations under multiple parties?"
## Question
maybe a private key corresponds to multiple public keys

[2021-10-25 14:11] tolusophy opened #360 "Dataset encryption before model learning"
Hello!

How do I encrypt a dataset before passing it into a dataloader and then sending it into an architecture for training?

[2021-10-31 10:38] Ti-Oluwanimi commented on #356
have you been able to find a way to do this

[2021-10-31 12:03] Ti-Oluwanimi opened #361 "support for maxpool, avgpool layers"
## Question
self.conv1_weight = torch_nn.conv1.weight.data.view(
            torch_nn.conv1.out_channels, torch_nn.conv1.kernel_size[0],
            torch_nn.conv1.kernel_size[1] ).tolist()
self.conv1_bias = torch_nn.conv1.bias.data.tolist()

Can we also use this idea for maxpool and avgpool layers i.e.

self.maxpool_weight = torch_nn.maxpool.weight.data.view(
            torch_nn.maxpool.kernel_s

[2021-11-01 04:42] RafiulIslamRafi commented on #35
Which function gives Relinearization in TenSEAL? when I multiply a variable for 2nd time in cyphertext, it returns a garbage result.

[2021-11-02 08:43] #315 closed

[2021-11-22 06:39] rogerppp opened #363 "Illegal instruction (core dumped) with tenseal-0.3.6"
## Description
Illegal instruction (core dumped)

I used "pip install tenseal" to install tenseal-0.3.6
then I tried to set the context

           ts.SCHEME_TYPE.CKKS,
          poly_modulus_degree=8192,
           coeff_mod_bit_sizes=[60, 40, 40, 60]
         )

But, when I changed the  version of tenseal to 0.3.5, it's working.
OS: ubuntu 20.04
python: 3.9.7

[2021-11-25 08:39] ymsaputra opened #364 "TenSEAL compatibility for FL in pytorch"
Could I use the TenSEAL codes for federated learning in Pytorch directly?

[2021-11-25 08:40] ymsaputra commented on #360
I want to encrypt the dataset before training as well, is that possible?

[2021-12-06 02:28] iciac opened #365 "Google Colab crash (tutorial 0)"
Running tutorial 0 on Google Colab (Python 3.7.12) causes the session kernel to crash. Tested using tenseal 0.3.5 and 0.3.6 on CPU and GPU instances.

Installation: 'pip install tenseal'
Import: 'import tenseal as ts'
Crash: 'context = ts.context(ts.SCHEME_TYPE.BFV, poly_modulus_degree=4096, plain_modulus=1032193)'

Creating the context causes the kernel to restart (the logs are listed below).
<im

[2021-12-09 11:43] JunyoungB opened #366 "Is Rotation unavailable in TenSEAL"
Even though dot product is available in TenSEAL, rotation should also be available to implement various algorithms.

Is there any way to rotate CKKS vector in TenSEAL with python?

[2021-12-09 14:45] CAPTAIN320 commented on #357
I switched from version 0.3.6 to 0.3.4 and it started working.

[2021-12-09 16:02] dimk1 opened #367 "Acceleration of TenSEAL with parallel computing"
## Question
Can TenSEAL be accelerated on a cluster of parallel computers?

## Further Information
I think of building a small cluster of Raspberry Pis working as a small parallel computing structure and work on toy examples with TenSEAL to see if accelerations can be achieved. Are there ways for TenSEAL to be benefited from parallel structures and how can we decompose the operations in a parallel

[2021-12-17 01:15] napoay commented on #136
Is there a switch that can set SIMD open or close？

[2021-12-19 17:30] napoay opened #368 "Example of plaintext matrix multiplied by ciphertext vector"
## Question

Example of plaintext matrix multiplied by ciphertext vector:

[code]
X.shape = (32,31)
y.shape =(31,)

I wanna get an encrypted array with shape (32, 1).

[2021-12-20 00:19] fockboi-lgtm opened #369 "[Security] Workflow pythonpublish-linux.yml is using vulnerable action actions/checkout"
The workflow pythonpublish-linux.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1

[2021-12-20 07:40] bcebere commented on #363
Hello,

Before every release, we have [automated tests](https://github.com/OpenMined/TenSEAL/actions) covering the matrix {Windows Server 2019, OSX 10.15, Ubuntu 20.04} x Python { 3.7, 3.8, 3.9}.
The tests pass. We wouldn't publish a version that constantly crashes.

It would help to understand your setup: what versions of gcc/clang do you have installed?
Can you upload the stacktrace generated in

[2021-12-20 12:13] bcebere commented on #363
Hello,

Thank you for your patience.

After some investigation, it turns out the HEXL library was crashing on some configurations, including Colab envs.

The latest release, TenSEAL 0.3.8, should fix the issue.

Please let us know if you are still encountering the problem.

[2021-12-20 12:13] bcebere commented on #365
Hello,

Thank you for your patience.

After some investigation, it turns out the HEXL library was crashing on some configurations, including Colab envs.

The latest release, TenSEAL 0.3.8, should fix the issue.

Please let us know if you are still encountering the problem.

[2021-12-20 12:45] bcebere commented on #369
Fixed! Thank you for reporting this!

[2021-12-20 12:45] #369 closed

[2021-12-21 02:01] ardand opened #370 "encrypted- evaluation model activation function"
## Question
How to implemented relu activation function in encrypted model?

## Further Information
Hi, I am studying the tutorial_1 and I try to build an simple logistic regression model on encrypted data myself. But I am not sure how to implement the relu function in the encrypted model.

## Screenshots
The training model.(plaintext)
![model1](https://user-images.githubusercontent.com/44856872/1

[2021-12-21 17:41] #365 closed

[2021-12-21 17:41] #363 closed

[2021-12-21 17:41] #357 closed

[2021-12-21 17:47] bcebere commented on #370
Hello,

The schemes available in TenSEAL cannot compute non-linearities like ReLU.

Because of that, you need to train and use models with polynomial approximations for the activations.

You can see in the tutorials examples for [sigmoid approximation](https://github.com/OpenMined/TenSEAL/blob/main/tutorials/Tutorial%201%20-%20Training%20and%20Evaluation%20of%20Logistic%20Regression%20on%20Encrypt

[2021-12-22 02:58] napoay commented on #368
@bcebere

[2021-12-22 08:27] zzzhaoguziji opened #371 "How to use two bfv ciphertext vectors to generate similar matrix"
## Question
I generated two ciphertext vectors but I don't know how to do it.

[2021-12-23 16:37] CharlesKung commented on #356
@vcozzolino have you succeeded in implementing more than one conv layer? I'm also interested in making it for more comprehensive models

[2021-12-28 07:35] emad-cio opened #372 "Cifar10"
## Question
**Describe your question in ONE SENTENCE.**
How to implement Cifar10 dataset  on the TenSEAL
## Further Information
Describe your question in greater length here.

## Screenshots
If applicable, add screenshots to help explain your question.

## System Information
 - OS: [e.g. iOS]
 - OS Version: [e.g. 22]
 - Language Version: [e.g. Python 3.7, Node 10.18.1]
 - Package Manager Version:

[2022-01-05 16:32] rahulay1 commented on #366
Maybe you perform .dot_plain with a vector of [0, 0, 0, 1, 0....] to extract the required element. You place the 1 corresponding to the element you want to extract.

However, I am not sure if this consumes one multiplication level ...

[2022-01-07 07:47] oowizoo opened #373 "compatibility for arm64"
Can tenSEAL add new features to be compatible with the arm64 architecture?

[2022-01-08 19:32] emad-cio opened #374 "bug appears when the number of layers is increased"
## Description
bug appears when the number of layers is increased .

error:
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-33-52c0aa1556b7> in <module>
      1 enc_model = EncConvNet(model)
----> 2 enc_test(context, enc_model, test_loader, criterion, kernel_shape, stride)

<ipyth

[2022-01-20 02:29] interstate50 opened #375 "how to calculate the size of ciphertext?"
In CKKS scheme, how do the poly_mod_degree and coeff_mod_bit_sizes affect the ciphertext size? Could it be calculated explicitly in mathematics？

[2022-01-20 17:15] Ti-Oluwanimi opened #376 "ValueError: can't execute conv2d_im2col on chunked vectors"
## Question
Why does this happen during the inference stage?

ValueError                                Traceback (most recent call last)
<ipython-input-9-b3bf74d70f56> in <module>
      1 enc_model = enc_cnn(model)
----> 2 enc_test(context, enc_model, test_loader, criterion, kernel_shape, stride)

<ipython-input-5-b186be09c784> in enc_test(context, model, test_loader, criterion, kernel_shape, str

[2022-01-27 08:03] ymsaputra opened #377 "Using dot() or matmul() functions for CKKSTensor"
I tried to use dot and matmul functions when I use CKKSTensor for the 2D weight matrix. However, it seems that both functions do not work when CKKSTensor is applied. Both functions work for CKKSVector.

I tried to implement Deep Learning approach in TenSEAL for encrypted training. Here, I have tried using torch.matmul but it raises an error regarding the use of matmul functions as follows:

Traceb

[2022-02-07 10:27] jasonchien1996 commented on #356
[code]
I tried to implement the conv layer. However, I can only put the convolution result of each window in a list which is the `result` list. I noticed that there is `pack_vectors()` in BFVVector and CKKSVector, but CKKSTensor doesn't have such a function. I have a thought on implementing `pack_tensors()`.
Suppose t0, t1, and t2 are CKKSTensors, `t0.pack_tensors( [t1, t2] )` works as follows:

1

[2022-02-25 07:36] Ti-Oluwanimi commented on #377
Were you able to encrypt using CKKS tensor

[2022-02-25 07:37] #376 closed

[2022-02-25 09:33] ymsaputra commented on #377
Yeah but not for matrix multiplication, because there is no matmul function, and dot() also does not work

[2022-02-25 11:22] mrader1248 opened #379 "Property `shape` missing for `CKKSVector`"
## Description
The property `shape` is missing for `CKKSVector`.

## How to Reproduce
Use the following piece of code to reproduce the bug.
[code]

## Expected Behavior
The two print statements in the code above are expected to both print `"[16]"`. While the first print statement executes as expected, the second one (specifically calling the property `shape`) fails with
[code]

## System Informati

[2022-03-03 07:34] Iridesscent233 commented on #361
Has your problem been solved? I've been thinking about it lately.

[2022-03-03 07:40] Ti-Oluwanimi commented on #361
No. It hasn't.
The CKKS vector doesn't support multiple layers of convolution, so if you are using ANN, it could work. I'm trying to see how the CKKS Tensor couldwork, but so far, nada!

[2022-03-03 07:53] Iridesscent233 commented on #361
Do you mean that ckks can't realize the average pooling layer？

[2022-03-04 06:43] pogevip commented on #232
hi @siamakz
I have the same problem, did you finally solve it

[2022-03-06 13:20] youben11 commented on #379
Thanks for the issue @mrader1248 but this is not a bug, but a feature request. Vector types do have a `size `attribute but not a `shape`

[2022-03-07 07:42] mrader1248 commented on #379
Forgive me, but I disagree with you on that. The class `CKKSVector` is derived from `AbstractTensor`, which defines the property `shape`. Therefore, from an OOP-POV, the child class `CKKSVector` has to support this property.

[2022-03-10 07:20] Hang-shao opened #380 "Use of NTT in tenseal?"
## Question
Which version of tenseal has started to use NTT technology, and whether both FFT and NTT are used in the version (FTT is used for encoding and decoding and NTT is used for polynomial calculation)?

## Further Information
Describe your question in greater length here.

## Screenshots
If applicable, add screenshots to help explain your question.

## System Information
 - OS: [e.g. iOS]

[2022-03-16 02:12] PenguinLeee commented on #366
https://github.com/OpenMined/TenSEAL/issues/306

[2022-03-17 22:44] bcebere commented on #377
Hello,

As you can see here, CKKSTensor provides the implementations for dot and matmul https://github.com/OpenMined/TenSEAL/blob/main/tenseal/tensors/ckkstensor.py#L106

Your error
[code]

appears because you try to pass to torch a CKKSTensor, and it is not compatible.

The main reason is because we cannot provide a backprop implementation, so you have to handle only the CKKSTensor class.

[2022-03-17 22:44] #377 closed

[2022-03-17 22:46] bcebere commented on #373
We can release only to platforms that are available on Github to test.

arm64 is not supported there, but the library should compile just fine there locally.

[2022-03-17 22:46] #373 closed

[2022-03-20 13:28] Wuliaxue commented on #294
Is this work？Training on encrypted data

[2022-03-21 08:45] Samuel-1029 opened #382 "Encrtpted-CNN training"
## Question
**Describe your question in ONE SENTENCE.**
How can i use the loss to implement the backward of PyTorch in the process of CNN training?
## Further Information
Describe your question in greater length here.

## Screenshots
If applicable, add screenshots to help explain your question.

## System Information
 - OS: [e.g. iOS]
 - OS Version: [e.g. 22]
 - Language Version: [e.g. Python 3.7,

[2022-03-21 09:02] Samuel-1029 commented on #294
I also want to train a CNN by encrypted data as you think,but now there are  some problems to implement the process of backward in PyTorch. Have you implemented the whole training process?

[2022-03-23 18:45] austincarthy opened #383 "Cannot install on Windows 11"
## Description
"pip install tenseal" produces an error and does not install

Error message:
"ERROR: Could not find a version that satisfies the requirement tenseal (from versions: none)
ERROR: No matching distribution found for tenseal"

## How to Reproduce
<img width="510" alt="tenseal_install_error" src="https://user-images.githubusercontent.com/47009443/159773258-5e602c3a-ecff-4dd3-a46d-e479eae

[2022-03-23 21:08] bcebere commented on #383
Hello,

The problem is that there is no Python 3.10 release on PyPI.
I triggered a release for py3.10, it should be up in ~1h, after the tests pass.

Let me know if it still fails for you then.

[2022-03-23 21:48] austincarthy commented on #383
Thank you, it works!

[2022-03-23 21:54] #383 closed

[2022-04-05 00:03] HamidFsian opened #386 "Inference over one single data"
## Question
Hello,
First of all, thank's for the amazing Tutorial. I am trying to run the inference over one single data. I was able to do it for the "formal" CNN but I could not do it forthe "enc_model" since it has to params and the one that make me frustrated is the windows_nb. Can anyone help me Please ?

[2022-04-11 07:30] sharvanideshmukh opened #387 "Running out of memory while performing encryption of a CIFAR model"
Hello, thanks for the tutorial that helps in understanding the key features of TenSEAL. I am using this library to encrypt weights of a trained model, which would be N-dimensional float32 array. Initially, I used the CKKSVector structure to encrypt and perform addition, multiplication operations on it. I received correct results on a basic dataset (MNIST). Later, I tried to encrypt the weights of

[2022-04-11 07:34] sharvanideshmukh commented on #387
Please find attached the code that I am using to test CIFAR example:
[cifar_code.txt](https://github.com/OpenMined/TenSEAL/files/8461924/cifar_code.txt)

[2022-04-19 11:16] Klingefjord opened #390 "Interface for cosine similarity (or sqrt())"
## Feature Description
I would love to have the option to calculate either the [cosine similarity](https://docs.scipy.org/doc/scipy/reference/generated/scipy.spatial.distance.cosine.html) between two vectors, or the [norm of a vector](https://numpy.org/doc/stable/reference/generated/numpy.linalg.norm.html) (so as to be able to manually calculate the cosine similarity).

## Is your feature request

[2022-04-19 11:22] Klingefjord commented on #390
I see that there are interfaces for `pow` in https://github.com/OpenMined/TenSEAL/blob/main/tenseal/tensors/abstract_tensor.py, which means the only missing component for being able to calculate cosine similarity is an `abs` function.

[2022-04-19 11:41] Klingefjord commented on #390
[code]

Something like this could work, but unfortunately .pow(0.5) is not allowed, as the function takes an integer value.

If there was a .sqrt() interface, that would be solved.

[2022-04-28 16:38] #250 closed

[2022-04-29 09:52] #242 closed

[2022-05-09 03:17] Fishermanljh opened #396 "How can i print data of a Ciphertext using Tenseal ?"
## Question
**Describe your question in ONE SENTENCE.**

## Further Information
Describe your question in greater length here.

## Screenshots
If applicable, add screenshots to help explain your question.

## System Information
 - OS: [e.g. iOS]
 - OS Version: [e.g. 22]
 - Language Version: [e.g. Python 3.7, Node 10.18.1]
 - Package Manager Version: [e.g. Conda 4.6.1, NPM 6.14.1]

## Additional Co

[2022-05-09 19:35] Henrikls opened #397 "How can it be that I get scale out of bounds when multiplying?"
I am getting the error "scale out of bounds" when I am trying to make a multiplication of two encrypted vectors how can I fix this?

I am working on a project where I want to see if it would be possible for me to make a homomorphic eigenface recognition, and I've stumbled on the problem that after some time then I am no longer capable of multiplying my vectors.

Firstly then I am using CKKS where

[2022-05-10 14:39] Henrikls commented on #396
Hi Fishermanljh

You can print the encrypted vector just using a normal print call.

If you want to print the unencrypted vector then you should do something along the lines of:
print(enc_v1.decrypt())

An example where you can print both is given in both the readme and below:

import tenseal as ts

# Setup TenSEAL context
context = ts.context(
            ts.SCHEME_TYPE.CKKS,
            poly_mod

[2022-05-11 10:00] Fishermanljh commented on #396
Hi Henriks, many thanks for your reply.

I called the print function, which came out to be:
**<tenseal.tensors.ckksvector.CKKSVector object at 0x0000029D316DB5B0>**

To be specific,  if I encrypted the raw data: [1], could I know its Ciphertext just in a single large value, like 2*10^100, instead of the CKKSVector object?

[2022-05-12 19:13] Henrikls commented on #396
Seal shows you the location of the encrypted object. My assumption is that when the object gets encrypted it will most likely look like gibberish where for example the vector: [1] ends up being scrambled into something along the lines of:

gfswuCsl7X2HiW2bDKuBUDWu9ja0ZkV7Vc6LqIwifJ7dUpr/9YbvdLpWIQcsP5mQYsoVIDYwRunEVfeHGmhUOKTGQmk7BpZ6pdiZdbyJLKQnHsWypWoJijoc7F/MhHP6FBjNJwtNWHQxtOK5XIM5/gR9tPo2K89h

[2022-05-13 10:50] #396 closed

[2022-05-13 11:00] Fishermanljh commented on #396
Hi Henriks,

Many thanks for your time, and it has been very helpful.

I got your point, and it seems unable to get a large single value of an Ciphertext encrypted by the CKKS method.

The reason why I raised out such question is that when I was reading some research papers, which reads that the Ciphertext encrypted by the Pillar method coded in C could support such function.

Your reply well addr

[2022-05-14 10:00] Henrikls commented on #396
Glad I could help I got a bit unsure if what I was writing was useful or correct (hence why it got deleted) so I had to double check with one of my pals. I'll leave the last draft of my explanation for future onlookers.

TenSeal shows you the location of the encrypted object. My assumption is that when the object gets encrypted it will most likely look like gibberish where for example the vector:

[2022-05-23 10:57] MartinNoc opened #398 "ckksvector multiplied with identity matrix results in transparent ciphertext"
## Question
Is it a bug or intended behavior when I get a "result ciphertext is transparent" error when multiplying a ckksvector with a numpy identity matrix?

## Further Information
When multiplying a ckksvector with a numpy identity matrix, I get the error "result ciphertext is transparent" which seems very strange to me, as the result should be the same ciphertext as before, right?
Moreover, wh

[2022-05-24 09:52] HamidFsian opened #399 "Visiualize the growing Noise"
## Question
Hello,
Is it possible to visualize the growing noise  after an operation? Also, is it possible to set a threshold ? or at least to visualize it ?
Thank you

[2022-05-24 11:27] MartinNoc commented on #397
Hello @Henrikls
would you be so kind and give some details of your code, espacially where you generate your context.

As an example: With the following context you are able to perform **three** multiplications before a "scale out of bounds" error would occur. This is because of the five coeff_mod_bit_sizes. Detailed example see [here](https://github.com/microsoft/SEAL/blob/main/native/examples/3_l

[2022-05-24 11:39] MartinNoc commented on #367
Hello @dimk1,
this would be very interesting!
As far as i know, the only way to parallel TenSEAL is to parallel the outer computation, so for example for a neural network forward pass to pipeline the network and to parallel the computation of nodes within the same layer as much as possible, but this seems tough as we cannot access or write single ckksvector (for example) elements.

Any comments on

[2022-05-24 14:27] MartinNoc opened #400 "Installing TenSEAL with custom SEAL build options"
## Question
Is it possible to install/use TenSEAL with custom [SEAL build options](https://github.com/microsoft/SEAL#advanced-cmake-options)?

## Further Information
I would like to use TenSEAL with custom SEAL options.
See [Basic](https://github.com/microsoft/SEAL#basic-cmake-options) and [Advanced](https://github.com/microsoft/SEAL#advanced-cmake-options) build options.
Precisely, I want to set

[2022-05-25 03:19] KlausMichael0 opened #401 "Can the TenSeal calculate the plurality of an encrypted vector?"
## Question
**Can the TenSeal calculate the plurality of an encrypted vector?**

## Further Information
For an encrypted vector Enc(pk,[1, 1, 1, 2, 2]), can we get the encrypted plural Enc(pk, [1])?
If possible, please tell me how to implement it! Thank you very much!

[2022-05-26 13:30] Henrikls commented on #397
my context is made the following way:
context = ts.context(
            ts.SCHEME_TYPE.CKKS,
            poly_modulus_degree=32768,
            coeff_mod_bit_sizes=[60, 40, 40, 60]
          )

context.global_scale = 2**40
context.generate_galois_keys()

Thank you Martin
From your comment then I found out that I was only working on level 3 whilst I could be working on level 4 I have now added a 60

[2022-05-27 02:31] PenguinLeee opened #402 "Details or references about matrix encoding that enables fluent matrix multiplication in TENSEAL"

[2022-06-05 21:56] Henrikls commented on #397
Thank you again you have been a great help :)

[2022-06-05 21:56] #397 closed

[2022-06-10 07:34] MartinNoc commented on #361
Convolution and AveragePool layers can be implemented using vector-matrix multiplication, where the vector is your (encrypted) CKKSVector matrix is a (rather big) sparse matrix simulating the convolution and averagepool, respectively.
It's very costly in terms of computational complexity, but it enables arbitrary convolution and averagepool layers.

[2022-06-14 08:48] MartinNoc commented on #398
Ok, I figured out, TenSEAL uses the diagonal method to compute vector-matrix products. This means for the identity matrix that all vectors except the first one are zero, resulting in the transparent ciphertext error.

[See here](https://github.com/OpenMined/TenSEAL/blob/ec21905822854291e6b93b5641c59bebd14266a7/tenseal/cpp/tensors/encrypted_vector.h#L151) the corresponding code piece.

How can we s

[2022-06-14 08:53] MartinNoc commented on #400
Here is my solution:

In [`seal.cmake`](https://github.com/OpenMined/TenSEAL/blob/main/cmake/seal.cmake#L6) add `set(SEAL_THROW_ON_TRANSPARENT_CIPHERTEXT OFF)` after Line 5.

In [`seal.BUILD`](https://github.com/OpenMined/TenSEAL/blob/main/third_party/seal.BUILD#L34) change Line 34 to `"-G \"Visual Studio 17 2022\" -A x64",` - as noted in the [SEAL repo](https://github.com/microsoft/SEAL#building-

[2022-06-14 08:53] #400 closed

[2022-06-16 10:40] HamidFsian opened #403 "About Conv layer"
Hello,
I read the tutorial 4. And I saw that you used only one conv2d.  I want to apply 2 Conv layer. Is it possible using TenSEAL ?

Thank you

[2022-06-19 06:57] ManInBrown04 opened #404 "Loading keys saved by SEAL library"
Is it possible to load public, relin and galois keys that are saved by SEAL library into TenSEAL?

I am trying to find a way to load the 3 keys that are saved in 3 separate files into TenSEAL's context. These are generated by SEAL4.0 by another user. I found a load function but I think it requires one byte stream that is serialized by TenSEAL. Can i just concatenate these files and use it to load

[2022-06-22 07:20] MartinNoc commented on #403
Hi @HamidFsian,
when using
[code]
for encryption and
[code]
for the convolution layer like in Tutorial 4, indeed, only one Conv layer can be computed.
This is because the special encoding/encryption method brings the input data into a certain format to allow for an efficient computation of the convolution. After the Conv layer (and packing) the data is stored in a CKKSVector and as TenSEAL does no

[2022-06-22 07:40] HamidFsian commented on #403
Thank's for your explications.

Best regards,
Hamid

[2022-06-22 07:40] #403 closed

[2022-06-24 08:56] dimk1 opened #406 "Cannot install on Ubuntu 18.04 LTS"
Installation on a Ubuntu 18.04.6 LTS (GNU/Linux 4.15.0-175-generic x86_64) fails like so:
[code]
Info for the machine
[code]
[code]
[code]

[2022-06-24 21:39] #406 closed

[2022-06-24 21:39] dimk1 commented on #406
Updated pip and worked. Can be closed

[2022-06-24 21:41] dimk1 opened #407 "Multiprocessing support"
## Question
**Can I use the multiprocessing module to assign tasks like parameter creation of CKKS in multiple processors**

[2022-06-27 08:24] Ti-Oluwanimi opened #408 "CKKSVector for deeper models"
## Question
**conv2d_im2col wrapper file**

## Further Information
I'm trying to understand the image to vector encoding for the ckks encryption., however I can only find the class definition within the CKKSVector.py file. How do I locate the code behind it. Some directions please?

## Further Question
I once read it here that once can use CKKSTensor for deeper convolutional layers. Do you have an

[2022-08-18 12:49] macknight opened #410 "bootstrapping issue"
Hi,
Does tenseal support bootstrapping?

BR

[2022-08-18 16:17] youben11 commented on #410
Hi,
No it doesn't. Last time I checked, SEAL didn't support bootstrapping, but if it has changed, it might be a good contribution to add support for it.

[2022-08-19 13:55] samartfang commented on #288
Hi, has your problem been solved? I have the same problem now

[2022-08-22 13:03] napoay opened #411 "encrypted tensor add plain vector meets "ValueError: scale mismatch""
## Question

[code]

return ```ValueError: scale mismatch```

## System Information

 - Language Version: [Python 3.7]
 - Package Manager Version: [TenSeal 0.3.12]

[2022-08-27 16:08] Q410922 opened #412 "RNS question"
Hi,
Does tenseal support RNS?

[2022-09-05 05:29] srinu1093 opened #413 "Linear Regression Using Tenseal"
Hello,

In the tutorials Logistic Regression model is built using the Tenseal for a Classification problem. I'm planning to implement with Linear Regression using Tenseal for a Regression Dataset. I'm achieving a good accuracy score for the first 2 parts i.e. 1. Linear Regression model built with Plain data and tested on the plain data, 2. Encrypted Evaluation. But for the 3rd main part where we a

[2022-10-21 02:58] MikeWalrus opened #416 "No wheel for Linux python 3.10"
PyPI only has `tenseal-0.3.12-cp310-cp310-win_amd64.whl` and `tenseal-0.3.12-cp310-cp310-macosx_11_0_x86_64.whl` as of now. Can someone upload a package for python 3.10 on Linux please?

[2022-11-07 10:49] bcebere commented on #416
Thank you for reporting this. There was a typo in the release script, the package should be available for 3.10 now.

[2022-11-07 13:12] #416 closed

[2022-11-18 20:38] klmcguir commented on #234
Any movement on this?
pip 22.2.2
python 3.9.13
Ventura 13.0.1

Slightly different flavor from the original issue, but I believe the same issue. Reproducing error:
[code]
But note the `x86` above:
[code]
My understanding is that this `illegal hardware instruction` error is related to the Intel version being grabbed. Are there any ARM/M1 Apple Silicon versions anticipated?

[2022-11-22 17:40] fixerivan opened #419 "pip install in venv fails"
## Description

trying to build inside a python 3.6 virtualenv

[code]

when I run /home/u177856/venv/bin/cmake directly I don't get an error so the traceback doesn't make a lot of sense to me, pls help

## System Information
 - OS: ubuntu
 - OS Version: 18.04
 - Language Version: python 3.6
 - Package Manager Version: pip 21.3.1

[2022-11-23 07:16] InspiringGroup opened #420 "AttributeError: '_tenseal_cpp.CKKSVector' object has no attribute 'scale'"
## Description
Cannot get scale() of a newly encrypted CKKSVector.

## How to Reproduce
[code]

## Expected Behavior
Output scale, but instead produced
[code]

## System Information
 - OS: Ubuntu 20.04
 - OS Version: 20.04
 - Language Version: python 3.8.10
 - Package Manager Version: pip

## Additional Context
the tenseal context was instantiated using
self.ckks_context = ts.context_from(keys)
wh

[2022-11-25 07:28] wcappel commented on #390
Hi, were you able to find a way around this?

[2022-11-29 08:21] #379 closed

[2022-11-29 09:12] #398 closed